            <tr>

                <td>{{id}}</td>
                <td><img class="materialboxed" src="Files/imagem/vendedor/{{imagem}}" width="60" height="45"></td>
                <td>{{nome}}</td>
                <td>{{genero}}</td>
                <td>{{telefone}}</td>

                <td>
                    <a href="{{URL}}/vendedor/{{id}}">
                        <button type="button" class="waves-effect waves-light grey accent-1 btn">
                            <i class="material-icons left">person</i>Perfil
                        </button>
                    </a>
                    <a href="{{URL}}/vendedor/editar/{{id}}">
                        <button type="button " class="waves-effect waves-light btn blue lighten-1">
                            <i class="material-icons left">edit</i>Editar
                        </button>
                    </a>

                    <a href="#modal{{id}}" class=" modal-trigger" >
                        <button type="button" class="waves-effect waves-light red accent-1 btn">
                            <i class="material-icons left">delete</i>Apagar
                        </button>
                    </a>
                </td>
            </tr>

            
            <div id="modal{{id}}" class="modal">

                <div class="modal-content">

                    <form action="{{URL}}/vendedor/apagar/{{id}}" method="post" class="row  white push-m2">
                        <div class="col s12 m12">
                            <strong>Tem a certeza que deseja apagar este Vendedor ?</strong>
                        </div>
                        <div class="col s12 m2">
                            <img src="{{URL}}/Files/Imagem/vendedor/{{imagem}}" class="materialboxed" width="90" height="115">
                        </div>
                
                        <div class="col s12 m8">
                            <p>Numero: <strong>{{id}}</strong></p>
                            <p>Nome: <strong>{{nome}} </strong></p>
                            <p>Criado em: <strong>{{criado}}</strong></p>
                        </div>
                
                        <div class="col s12 m3">
                            <button type="submit" class="button red" name="apagar" required>Confirmar</button>
                        </div>
                        <div class="col s12 m3">
                            <a href="#!" class="modal-close waves-effect waves-green ">
                                <button type="button" class="button">Cancelar</button>
                            </a>
                        </div>
                    </form>

                <div class="modal-footer">
                  <!-- <a href="#!" class="modal-close waves-effect waves-green ">
                    <button type="button" class="button">Cancelar</button>
                </a> -->
                </div>

            </div>