<section class="section-field">

  <section class=" row flex betwen painel-card col m12">

    <div>
      <h5>Painel Paciente</h5>
    </div>

    <div class="form-search">
      <form method="get">
        <div class="form-area-search">
          <input class="input-search" type="search" name="pesquisar" placeholder=" Pesquisar por nome"
            value="{{pesquisar}}">
          <button class="button-search btn" type="submit">
            <i class="material-icons white-text ">search</i>
          </button>
        </div>
      </form>
    </div>

    <div class="painel-card-li">
      <li class="btn"><a href="{{URL}}/cadastrarvendedor">
          <i class="material-icons white-text ">add</i> Novo Registro</a>
      </li>

    </div>

  </section>

  <br>
  <br>
  <section class="{{msgs}} col s12 m12 l12 ">{{msg}}</section>

  <section class=" row white col m12">
    <table id="table">
      <thead class="thead white">
        <tr class="centered">
          <th><i class="material-icons ">format_list_numbered</i>Número</th>
          <th> <i class="material-icons ">image</i>Foto</th>
          <th><i class="material-icons ">person</i> Nome Completo</th>
          <th><i class="material-icons ">person</i> Genero </th>
          <th> <i class="material-icons ">phone</i>Telefone </th>
          <th>Opções</th>
        </tr>
      </thead>

      <tbody class="tbody">
        {{item}}
      </tbody>
    </table>
  </section>

  <section class=" row white col m12">
    {{paginacao}}
  </section>

</section>