<div class="center-page">
  <div class="card card-login ">
    <div class="card-content ">
      <!-- Logo -->
      <section class="login-img">
        <img src="Assets/img/logo01.png" height="110" width="170">
      </section>

      <!-- Título -->
      <span class="card-title center-align">Login</span>
      {{msg}}
      <!-- Formulário -->
      <form class="row" method="post">
        <div class="input-field col m11">
          <i class="material-icons prefix green-text">mail_outline</i>
          <input id="email" type="email" class="validate" name="email" required>
          <label for="email">Email</label>
        </div>

        <div class="input-field col m11 ">
          <i class="material-icons prefix green-text">lock_outline</i>
          <input id="senha" type="password" class="validate" name="senha">
          <label for="senha">Senha</label>
        </div>

        <div class="row col m10 center-align ">
          <button class=" push-m2 col m12 btn green waves-effect waves-light" style="text-transform: capitalize;"
            type="submit" value="logar">Entrar</button>
        </div>

      </form>
      <div class="row div-nova center-align " style="font-size: 16px;">
        <p>Esqueceu a senha?
          <a href="{{URL}}/recuperar/senha">
            <span class="green-text">click aqui</span>
          </a>
        </p>

        <p class="row div-nova center-align " style="font-size: 14px;"> 
          <a href="{{URL}}/sigin" class="">
            <span class="">Criar Conta</span>
          </a>
        </p>

      </div>
    </div>
  </div>
</div>