<div class="center-page">
  <div class="card card-login">
    <div class="card-content">
      <!-- Logo -->
      <section class="login-img">
        <img src="Assets/img/logo01.png" height="110" width="170">
      </section>

      <!-- Título -->
      <span class="card-title center-align">Login</span>
      {{msg}}
      <!-- Formulário -->
      <form class="row" method="post">
        <div class="input-field col m11">
          <i class="material-icons prefix green-text">mail_outline</i>
          <input id="email" type="email" class="validate" name="email" required>
          <label for="email">Email</label>
        </div>

        <div class="input-field col m11 ">
          <i class="material-icons prefix green-text">lock_outline</i>
          <input id="senha" type="password" class="validate" name="senha" >
          <label for="senha">Senha</label>
        </div>

        <div class="row col m12">
          <button class="col m11 btn green" style="text-transform: capitalize;" type="submit" value="logar">Entrar</button>
        </div>
        
      </form>
      <div class="row div-nova center-align ">
        <a href="{{URL}}/recuperar/senha">
          <p>Esqueceu a senha?</p>
        </a>
      </div>
    </div>
  </div>
</div>