<div class="container center-align valign-wrapper">
    <div class="row card card-panel hoverable container">
        <div class="col s1 m12 center-align">
            <br>
            <section class="">
                <img src="Assets/img/logo1.png" height="110" width="170">
            </section>
        </div>

        <div class="col s1 m12 center-align">
            {{msg}}
        </div>

        <div class=" col s1 m8 center-align">
            <form class="" method="post">
                <br>
                <div class="row input-field col s12 m12">
                    <input id="email" type="email" name="nome">
                    <label for="email" style="text-transform: capitalize;">Email:</label>
                </div>

                <div class="row input-field col s12 m12">
                    <input id="senha" type="password" name="senha" />
                    <label for="senha" style="text-transform: capitalize;">Senha:</label>
                </div>
                <div class="row m12 center-align ">
                    <button class=" col m12 btn green" style="text-transform: capitalize;" type="submit" value="logar">
                        Entrar
                    </button>

                </div>
            </form>
        </div>

        <div class="col s1 m12 pink">
            <div class="row div-nova">
                <a href="{{URL}}/recuperar/senha">
                    <p>Esqueceu a senha?</p>
                </a>
            </div>
        </div>
    </div>
</div>