<div class="card-login ">

    <section class="container section-login">
        <section class="login-img">
            <img src="Assets/img/logo1.png" height="110" width="170">
        </section>

        {{msg}}

        <section class="card Large col s12 m12">
            <div class="card-content col s12 m5">
                <span class=" row card-title center-align">Login</span>
                <form class="Large container" method="post">

                    <div class="row input-field col s12 m10">
                        <input id="email" type="email" name="nome">
                        <label for="email" style="text-transform: capitalize;">Email:</label>
                    </div>
                    <br>
                    <div class="row input-field col s12 m10 ">
                        <input id="senha" type="password" placeholder=" " name="senha" />
                        <label for="senha" style="text-transform: capitalize;">Senha:</label>
                    </div>
                    <div class="row m12">
                        <button class=" btn green" style="text-transform: capitalize;" type="submit"
                            value="logar">Entrar</button>
                    </div>
                </form>
            </div>

            <div class="row div-nova">
                <a href="{{URL}}/recuperar/senha">
                    <p>Esqueceu a senha?</p>
                </a>
            </div>
        </section>

    </section>
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="publico/assets/js/jquery.js"></script>