<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="Assets/css/material-icons.css" rel="stylesheet">
    <!--Import css-->

    <link type="text/css" rel="stylesheet" href="{{URL}}/Assets/css/materialize.css" />
    <link type="text/css" rel="stylesheet" href="Assets/css/main.css" />
    <link type="text/css" rel="stylesheet" href="Assets/css/style.css" />
    <title>{{title}}</title>

    <style>
        .card-login {
            width: 100%;
            max-width: 400px;
            padding-top: 20px;
        }

        .center-page {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .btn-block {
            width: 100%;
        }
    </style>
</head>

<body class="container green lighten-3">

    {{content}}

    <!--Import script js principal do app -->
    <script src="{{URL}}/Assets/js/app.js"></script>

    <!--Import script js principal do app -->
    <script src="{{URL}}/Assets/js/jquery/jquery.js"></script>

    <!--Import script js materialize do app -->
    <script src="{{URL}}/Assets/js/materialize.js"></script>

</body>

</html>