<link href="{{URL}}/Assets/css/material-icons.css" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="{{URL}}/Assets/css/materialize.css" />

<link type="text/css" rel="stylesheet" href="{{URL}}/Assets/css/reset.css" />

<link type="text/css" rel="stylesheet" href="{{URL}}/Assets/css/app.css" />

<div class="center-page">
  <div class="card card-login ">
    <div class="card-content ">
      <!-- Logo -->
      <section class="login-img center-align">
        <img src="{{URL}}/Assets/img/logo01.png" height="110" width="170">
      </section>

      <!-- Título -->
      <span class="card-title center-align"><strong>Recuperação de senha</strong></span>
      <p class="font-normal">Por favor digita o email <strong>(cadastrado)</strong> para verificação da tua conta </p>
      {{msg}}
      <!-- Formulário -->
      <form class="row" method="post">
        <br>
        <div class="input-field col m11">
          <i class="material-icons prefix green-text">mail_outline</i>
          <input id="email" type="email" class="validate" name="email" required>
          <label for="email">Email</label>
        </div>

        <div class="row col m10 center-align ">
          <button class=" push-m2 col m12 btn green waves-effect waves-light" style="text-transform: capitalize;"
            type="submit" value="logar">Verificar Email</button>
        </div>

      </form>
      <div class="row div-nova center-align " style="font-size: 16px;">

        <p class="row div-nova center-align " style="font-size: 14px;"> 
          <a href="{{URL}}/sigin" class="green-text">
            <span class="">Criar Conta</span>
          </a>
        </p>

      </div>
    </div>
  </div>
</div>