<div class="center-page">
  <div class="card card-login ">
    <div class="card-content ">
      <!-- Logo -->
      <section class="login-img center-align">
        <img src="Assets/img/logo01.png" height="95" width="110">
      </section>

      <!-- Título -->
      <span class="card-title center-align">Sign</span>
      {{msg}}
      <!-- Formulário -->
      <form class="row" method="post" enctype="multipart/form-data">
        <div class="input-field col m11">
          <i class="material-icons prefix teal-text darken-2">perm_identity</i>
          <input id="nome" type="text" class="validate" name="nome" required value="{{nome}}">
          <label for="nome">Nome</label>
        </div>

        <div class="input-field col m11">
          <i class="material-icons prefix teal-text darken-2">mail_outline</i>
          <input id="email" type="email" class="validate" name="email" required value="{{email}}">
          <label for="email">Email</label>
        </div>

        <div class="input-field col m11 ">
          <i class="material-icons prefix teal-text darken-2">lock_outline</i>
          <input id="senha" type="password" class="validate" name="senha">
          <label for="senha">Senha</label>
        </div>

        <div class="input-field col m11 ">
          <i class="material-icons prefix teal-text darken-2">lock_outline</i>
          <input id="ConfirmaSenha" type="password" class="validate" name="ConfirmaSenha">
          <label for="ConfirmaSenha">Confirma Senha</label>
        </div>

        <div class="row col m10 center-align ">
          <button class="push-m2 col m12 btn teal darken-2  waves-effect waves-light" style="text-transform: capitalize;"
            type="submit" value="logar">Criar Conta</button>
        </div>

      </form>
      <div class="div-nova center-align " style="font-size: 14px;"> Se já possui uma conta
        <a href="{{URL}}/login" class="">
          <span class="teal-text darken-2">click aqui</span>
        </a>
        <p class="row div-nova center-align " style="font-size: 14px;">
          Em caso de suporte técnico clica em
          <a href="{{URL}}/contactos" class="teal-text darken-2">
            <span class="">Posso ajudar? </span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>