<div class="center-page">
    <div class="card card-login ">
        <div id="card" class="card-content center">
            <!-- Logo -->
            <section class="login-img center-align">
                <img src="{{URL}}/Assets/img/logo01.png" height="90" width="140">
            </section>

            <!-- Título -->
            <span class="card-title center-align" style="font-weight: bold;">Acesso Negado</span>
            <i class="material-icons prefix red-text darken-3" style="font-size: 60pt;">report</i>
            <p class="center" style="font-size: 20px;">
                O seu perfil de acesso não possui
                permissões para visualizar esta página. Por favor
                contacte o administrador do sistema.
            </p>
        </div>
    </div>
</div>