<section class="row section-field">

    <div class="col s12 m12">
        <h5>
            <a href="{{URL}}/admin/conta">Minha Conta</a>
            <hr>
        </h5>
    </div>

    <section class=" col s12 m3 white card-menu card">
        {{menuconta}}
    </section>

    <section class=" col s12 m8 offset-m1 white ">

        <section class="row col m12 push-m1">

            <div class="col m12 pull-m1 center">
                <h6 class="negrito"> Controles de Conta</h6>
            </div>

            <div class="font-small">
                <p class="negrito"><strong>Solicitar exclusão de dados pessoais</strong> </p>
                <p class="">
                    Certifique-se que a senha contenha 8 ou mais digitos, incluindo números e letras
                    maisculas.
                    Certifique-se que a senha contenha 8 ou mais digitos, incluindo números e letras
                    maisculas.
                </p>
                <a class="btn waves-light white-text capitalize grey darken-2">
                    <i class="material-icons left white-text"> delete_sweep </i>Solicitar exclusão conta
                </a>
            </div>
            <br>

            <div class="font-small ">
                <p class="negrito"><strong>Baixar uma cópia dos dados</strong> </p>
                <p class="">
                    Certifique-se que a senha contenha 8 ou mais digitos, incluindo números e letras
                    maisculas.
                    Certifique-se que a senha contenha 8 ou mais digitos, incluindo números e letras
                    maisculas.
                </p>
                <a class="btn waves-light white-text capitalize grey darken-2">
                    <i class="material-icons left white-text">arrow_downward</i>Apagar conta
                </a>
            </div>
            <br>

            <div class="font-small ">
                <p class="negrito"><strong>Bloquear conta temporariamente</strong> </p>
                <p class="">
                    Certifique-se que a senha contenha 8 ou mais digitos, incluindo números e letras
                    maisculas.
                    Certifique-se que a senha contenha 8 ou mais digitos, incluindo números e letras
                    maisculas.
                </p>
                <a class="btn waves-light white-text capitalize green lighten-1 ">
                    <i class="material-icons left white-text">not_interested </i>Bloquear conta
                </a>
            </div>
            <br>

            <div class="font-small ">
                <p class="negrito"><strong>Eliminar conta permanentemente</strong> </p>
                <p class="">
                    Certifique-se que a senha contenha 8 ou mais digitos, incluindo números e letras
                    maisculas.
                    Certifique-se que a senha contenha 8 ou mais digitos, incluindo números e letras
                    maisculas.
                </p>
                <a class="btn waves-light white-text capitalize red darken-1">
                    <i class="material-icons left white-text">delete_forever</i>Eliminiar conta
                </a>
            </div>

        </section>   

    </section>

    <br>
    <br>

</section>
