<section class="row section-field">

    <div class="col s12 m12">
        <h5>
            <a href="{{URL}}/admin/conta">Minha Conta</a>
            <hr>
        </h5>
    </div>

    <section class=" col s12 m3 white card-menu ">
        {{menuconta}}
    </section>

    <section class="col s12 m8 offset-m1 white ">
        {{dadosconta}}
    </section>

</section>

<!--Modal de alterar a foto-->
<div id="modal" class="modal {{blocks}}">
    <div class="modal-item modal-foto">
        <label id="closeModal" class="closeModal">&times;</label>
        <form method="post" enctype="multipart/form-data">
            <h6>Imagem de Perfil</h6>
            <p class="div-conta-inf">
                A tua imagem serve para ser facilmente indentificado, colocar uma foto tipo passe, pode remover a
                tua imagem do sistema e volta para a imagem padrão
            </p>
            <hr>
            {{msgVazio}}

            <div class="center">
                <label id="image" class="label-modal-img" for="img">
                    <img class="img-conta foto" src="{{URL}}/Files/Imagem/user/{{imagem}}" width="172" height="172">
                    <div>Carregar imagem</div>
                </label>
                <input type="file" id="img" name="imagem">
            </div>

            <div class="row flex">
                <button class="btn col m12 indigo" name="salvar" type="submit">
                    <i class="material-icons ">photo</i>Salvar
                </button>
            </div>

            <div class="row flex">
                <button class="btn red col m12" href="">
                    <i class="material-icons ">delete</i>Remover
                </button>
            </div>
        </form>
    </div>
</div>

<script src="{{URL}}/Assets/js/scripts.js"></script>

<script src="{{URL}}/Assets/js/main.js"></script>

<style>
    .modal {
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 6;
        overflow: auto;
        background-color: rgba(29, 29, 29, 0.575);
        max-height: 100%;
        margin: auto;
        overflow-y: auto;
        will-change: top, opacity;
    }
</style>