<section class="row section-field">

    <div class="col s12 m12">
        <h5>
            <a href="{{URL}}/conta">Minha Conta</a>
            <hr>
        </h5>
    </div>

    <section class=" col s12 m3 white card-menu card">
        {{menuconta}}
    </section>

    <section class="col m8 offset-m1 white ">
        <h4>Registro de conta</h4>

        <table>
            <caption>
                <h6>Informação do Usuario de lOGINa</h6>
            </caption>

            <tr class="centered">
                <th><i class="material-icons black-white ">format_list_numbered</i> ID </th>
                <th><i class="material-icons black-white ">image</i>Entrada</th>
                <th><i class="material-icons black-white ">person</i> Saida</th>
            </tr>
            <tr>
                <td>1</td>
                <td>22/03/2022/</td>
                <td>22/03/2022/</td>
            </tr>
            <tr>
                <td>2</td>
                <td>01/01/2222</td>
                <td>01/01/2222</td>
            </tr>
 
        </table>

        <br>
    </section>

    <section class="col m12">
        <div>
            <h6>Ajuda</h6>
            <h6>Manual de uso</h6>
        </div>
    </section>

</section>

<!--Modal de alterar a foto-->
<div id="modal" class="modal {{blocks}}">
    <div class="modal-item modal-foto">
        <label id="closeModal" class="closeModal">&times;</label>
        <form method="post" enctype="multipart/form-data">
            <h5>Imagem de Perfil</h5>
            <p class="div-conta-inf">
                A tua imagem serve para ser facilmente indentificado, colocar uma foto tipo passe, pode remover a
                tua imagem do sistema e volta para a imagem padrão
            </p>
            <hr>
            {{msgVazio}}

            <div class="center">
                <label id="image" class="label-modal-img" for="img">
                    <img class="img-conta foto" src="{{URL}}/Files/Imagem/user/{{imagem}}" width="180" height="180">
                    <div>Carregar imagem</div>
                </label>
                <input type="file" id="img" name="imagem">
            </div>

            <div class="row flex">
                <button class="btn col m12 indigo" name="salvar" type="submit">
                    <i class="material-icons ">photo</i>Salvar
                </button>
            </div>

            <div class="row flex">
                <button class="btn red col m12" href="">
                    <i class="material-icons ">delete</i>Remover
                </button>
            </div>
        </form>
    </div>
</div>