<link href="{{URL}}/Assets/css/material-icons.css" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="{{URL}}/Assets/css/materialize.css" />

<link type="text/css" rel="stylesheet" href="{{URL}}/Assets/css/reset.css" />

<link type="text/css" rel="stylesheet" href="{{URL}}/Assets/css/app.css" />

<div class="center-page">
  <div class="card card-login ">
    <div class="card-content ">
      <!-- Logo -->
      <section class="login-img center-align">
        <img src="{{URL}}/Assets/img/logo01.png" height="110" width="170">

      </section>

      <!-- Título -->
      <span class="card-title center-align">Conta Cadastrado Com Sucesso</span>

      <!-- Formulário -->
      <div class="row" class="center-align">
        <div class="input-field center-align col m12">
          <img src="{{URL}}/Assets/img/confirmado.png" height="50" width="70">
          <h2>{{nome}}</h2>
          <p>Seja bem-vindo</p>
        </div>
        <p class="row font-normal center-align " style="font-size: 14px;">
          clica
          <a href="{{URL}}/enviar" class="">
            <span class="green-text ">aqui </span>
          </a>
          para confirmar o seu email
        </p>
        <br>
        <div class="row col m10 center-align ">
          <button data-target="cadastra" class="modal-trigger push-m2 col m12 btn green waves-effect waves-light"
            style="text-transform: capitalize;" type="submit" value="logar">
            <a href="{{URL}}/admin/login" class="">
              Iniciar Sessão 
            </a>
          </button>
        </div>

      </div>
      <div class="div-nova center-align " style="font-size: 14px;">
        <p class="row div-nova center-align " style="font-size: 14px;">
          <a href="{{URL}}/admin/sigin" class="">
            <span class="green-text ">Criar Nova Conta</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>