<div class="center-page">
  <div class="card card-login ">
    <div class="card-content ">
      <!-- Logo -->
      <section class="login-img">
        <img src="{{URL}}/Assets/img/logo01.png" height="110" width="170">
      </section>

      <!-- Título -->
      <span class="card-title center-align">Criar Conta Administrador</span>
      {{msg}}
      <!-- Formulário -->
      <form class="row" method="post" enctype="multipart/form-data">
        <div class="input-field col m11">
          <i class="material-icons prefix green-text">perm_identity</i>
          <input id="nome" type="text" class="validate" name="nome" required value="{{nome}}">
          <label for="nome">Nome</label>
        </div>

        <div class="input-field col m11">
          <i class="material-icons prefix green-text">mail_outline</i>
          <input id="email" type="email" class="validate" name="email" required value="{{email}}">
          <label for="email">Email</label>
        </div>

        <div class="input-field col m11 ">
          <i class="material-icons prefix green-text">lock_outline</i>
          <input id="senha" type="password" class="validate" name="senha" >
          <label for="senha">Senha</label>
        </div>

        <div class="input-field col m11 ">
          <i class="material-icons prefix green-text">lock_outline</i>
          <input id="ConfirmaSenha" type="password" class="validate" name="ConfirmaSenha" >
          <label for="ConfirmaSenha">Confirma Senha</label>
        </div>

        <div class="row col m10 center-align ">
          <button class="push-m2 col m12 btn green waves-effect waves-light" style="text-transform: capitalize;" type="submit" value="logar">Criar Conta</button>
        </div>
        
      </form>
      <div class="div-nova center-align " style="font-size: 14px;"> Se já possui uma conta
        <a href="{{URL}}/admin/login" class="">
          <span class="green-text">click aqui</span>
        </a>
      </div>
    </div>
  </div>
</div>

  <!-- Modal Structure -->
  <div id="cadastra" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>