<section class="row section-field">

    <nav class='flex row  grey darken-3'>
        
        <div class="nav-wrapper ">
          <div class="col s12">
            <a href="#!" class="breadcrumb white-text font-media font-normal">{{titulo}} </a>
          </div>
        </div>

        <div class="nav-wrapper col m3 ">
            <div class="col s12">
              <a href="{{URL}}" class="breadcrumb white-text font-normal">Home</a>
              <a href="{{URL}}/negocio" class="breadcrumb white-text flow-text font-normal">Painel negocio</a>
            </div>
          </div>
    </nav>

    <div class="div-form white col s12 m8 push-m2">

        <form class="row  form-area col s12 m9 push-m1" method="post" enctype="multipart/form-data">

            <div class="label-float col s12 m12 ">
                <input type="text" placeholder=" " name="negocio" value="{{negocio}}" />
                <label>Novo Negocio:</label>
            </div>

            <div class="col s12 m12">
                <button type="submit" class="button">{{button}}</button>
            </div>

        </form>
    </div>
</section>

<script src="{{URL}}/Assets/js/main.js"></script>