<tr>
    <td>{{id_negocio}}</td>
    <td>{{negocio}}</td>
    <td> {{data}}</td>

    <td>
        <a href="{{URL}}/negocio/editar/{{id_negocio}}">
            <button type="button " class="waves-effect waves-light btn blue lighten-1">
                <i class="material-icons left">edit</i>Editar
            </button>
        </a>

        <a  class="modal-trigger" href="{{id_negocio}}" data-target="modaluser">
        <button type="button" class="waves-effect waves-light red accent-1 btn" >
            <i class="material-icons left">delete</i>Apagar
        </button>
    </a>
    </td>
</tr>

<!---
{URL}}/negocio/apagar/{{id_negocio}}

-->

<!-- MODAL PARA Apagar um negocio-->
<div id="modaluser" class="modal modaluser">
    <div class="modal-content">
        <label class="closeModal modal-close">&times;</label>
  
        <h5>Apagar? Negocio {{id_negocio}}</h5>

        <p class="font-normal">
            Tem a certeza que pretende apagar <strong>{{negocio}}</strong></p> 

        <hr>
  
        <div class="modal-fixed-footer ">
            <a class="btn white-text rigth red" href="{{URL}}/negocio/apagar/{{id_negocio}}">
                <i class="material-icons  white-text">delete</i>Confirmar
            </a>
  
            <a class="btn green accent-4 white-text" href="{{URL}}/relatorio/imprimirLista">
                <i class="material-icons left white-text">arrow_downward
                </i>Voltar
            </a>
        </div>
    </div>
  </div>