<section class="row section-field">

    <nav class='flex row  grey darken-3'>
        
        <div class="nav-wrapper ">
          <div class="col s12">
            <a href="#!" class="breadcrumb white-text font-media font-normal">{{titulo}} </a>
          </div>
        </div>

        <div class="nav-wrapper col m3 ">
            <div class="col s12">
              <a href="{{URL}}" class="breadcrumb white-text font-normal">Home</a>
              <a href="{{URL}}/zona" class="breadcrumb white-text flow-text font-normal">Painel zona</a>
            </div>
          </div>
    </nav>

    <form class="row  form-area col s12 m9 push-m1" method="post" enctype="multipart/form-data">

        <div class="label-float col s12 m12 ">

            <p>Numero: {{id_zona}}</p>
            <p>Zona: {{zona}}</p>
          <strong>  <h3 class="font-normal large">Confirma eliminar esta zona dos registro? </h3></strong>
        </div>

        <div class="col s12 m12">
            <button type="submit" name="apagar" class="button red white-text">{{button}}</button>
        </div>

    </form>

</section>