</div>
<!--fim-->
</main>

<footer class="page-footer white">
  <div class="container">
    <div class="row">

      <div class="col offset-m1 s12 m3">
        <a href="{{URL}}/admin" class="brand-logo logotipo  " style="text-align: center;">
          <img class="" src="{{URL}}/Assets/img/logotipoSemFundo.png" width="200">
        </a>
      </div>

      <div class="col s12 m3">
        <h5 class="capitalize">Sobre</h5>
        <ul>
          <li>
            <a class="black-text text-lighten-3 capitalize " href="{{URL}}/MariaProjecto/site"> Página Principal </a>
          </li>
          <li><a class="black-text text-lighten-3 capitalize" href="#!">Noticiás</a></li>
        </ul>
      </div>

      <div class="col s12 m3">
        <h5 class="capitalize">Contactos</h5>
        <ul>
          <li><a class="black-text  capitalize" href="#!">E-mail</a></li>
          <li><a class="black-text text-lighten-3 capitalize" href="#!">Facebook</a></li>
          <li><a class="black-text text-lighten-3 capitalize" href="{{URL}}/contactos" target="_blank">Contactos</a></li>
        </ul>
      </div>

      <div class="col s12 m2">
        <h5 class="capitalize">Link importantes</h5>
        <ul>
          <li><a class="black-text text-lighten-3 capitalize" href="#!"> Tutotial </a></li>
          <li><a class="black-text text-lighten-3 capitalize" href="{{URL}}/MariaProjecto/site" target="_blank">Blog</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center capitalize">
      © 2025 Copyright Text
      <a class="blue-text capitalize" href="#!">Mais links</a>
    </div>
  </div>
</footer>


<!--Import jQuery before materialize.js
        <script type="text/javascript" src="App/View/assets/js/jquery.js"></script>
        <script type="text/javascript" src="App/View/assets/js/scripts.js"></script>
      -->