<!--HEADER-->
<header class="header navbar-fixed">

    <ul id="dropdown2" class="dropdown-content card">
        <div class="card row">
            <div class="col m12 row">
                <a href="#!" class="collection-item"><span class="badge">1</span>eee</a>
                <a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
            </div>
        </div>
        <div class="card row">
            <div class="collection">
                <a href="#!" class="collection-item"><span class="badge">1</span>eee</a>

            </div>
        </div>
    </ul>

    <nav class=" blue-grey darken-3 navbar-fixed">
        <div class="nav-wrapper">

            <!--Logotipo header-->
            <ul>
                <a href="{{URL}}/admin" class="brand-logo logotipo blue darken-2 "
                    style="width: 180px;  height: 65px; text-align: center; border-bottom: 1px white solid; ">
                    <img class="" src="{{URL}}/Assets/img/logoMenu2.png" width="90">
                </a>
            </ul>

            <!--nome menu-->
            <ul class="right hide-on-med-and-down ">
                <li class="rigth">
                    <a class="dropdown-trigger font-normal white-text " href="#!" data-target="dropdown1">
                        {{info}}
                        <i class="material-icons right white-text ">arrow_drop_down</i>
                    </a>
                </li>
            </ul>

            <!--nome menu item-->
            <ul id="dropdown1" class="dropdown-content">
                <li class=" {{nivel}}">
                    <a class="black-text font-normal" href="{{URL}}/admin/conta">Minha Conta </a>
                </li>
                <li class="{{nivel}}">
                    <a class="black-text font-normal" href="{{URL}}/admin/definicao">Configuração</a>
                </li>
                <li class="{{nivel}}">
                    <a class="black-text font-normal" href="{{URL}}/admin/definicao">Bloquear</a>
                </li>
                <li class="{{nivel}} ">
                    <a class="black-text font-normal" href="{{URL}}/admin/logout">Terminar Sessao</a>
                </li>
            </ul>

            <!--nome icon item-->
            <ul class="right hide-on-med-and-down">
                <li><a href="{{URL}}/admin"><i class="material-icons white-text">search</i></a></li>
                <li><a href=""><i class="material-icons white-text">refresh</i></a></li>
                <li>
                    <a class="dropdown-trigger2" href="#!" data-target="dropdown2">
                        <i class="material-icons white-text">notifications</i>
                    </a>
                </li>
            </ul>

        </div>
    </nav>

</header>

<main class="row grey lighten-4 ">

    <div class="col m2 blue darken-2">

        <aside id="aside" class="blue darken-2">

            <ul class="fixed collapsible blue darken-2">
                <li>
                    <a class="collapsible-header blue darken-2" href="{{URL}}/admin"
                        style="text-transform: capitalize;">
                        <i class="fa-solid fa-house" style="color: #63E6BE;"></i>
                        Home
                    </a>
                </li>

                <li>
                    <a class="collapsible-header blue darken-2" href="{{URL}}/admin/relatorio"
                        style="display: flex; align-items: center; text-transform: capitalize;">
                        <i class="fa-solid fa-chart-pie" style="color: #63E6BE;"></i>
                        Relatorios
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="#" class="collapsible-header blue darken-2" style="text-transform: capitalize;">
                        <i class="fa-solid fa-square-plus" style="color: #63E6BE;"></i>
                        Cadastrar
                    </a>
                    <ul class="collapsible-body">

                        <li>
                            <a class="" style="text-transform: capitalize;" href="{{URL}}/usuario">
                                <i class="material-icons white-text" style="vertical-align: -6px;">person_add</i>
                                Usuarios
                            </a>
                        </li>

                        <li>
                            <a class="" style="text-transform: capitalize;" href="{{URL}}/funcionario">
                                <i class="fa fa-user-md fa-lg fa-5x" aria-hidden="true"> </i>
                                Funcionários
                            </a>
                        </li>

                        <li>
                            <a class="" style="text-transform: capitalize;" href="{{URL}}/paciente-admin">
                                <i class="material-icons white-text"
                                    style="vertical-align: -6px;">airline_seat_individual_suite</i>
                                Pacientes
                            </a>
                        </li>
                        <li>
                            <a class="" style="text-transform: capitalize;" href="{{URL}}/medicamento">
                                <i class="material-icons white-text" style="vertical-align: -6px;">description</i>
                                Medicamentos
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sub-menu blue darken-2">
                    <a href="#" class="collapsible-header blue darken-2" style="text-transform: capitalize;">
                        <i class="fa-solid fa-user" style="color: #63E6BE;"></i>
                        Conta
                    </a>

                    <ul class="collapsible-body">
                        <li><a class="" style="text-transform: capitalize;" href="{{URL}}/admin/conta">
                                <i class="material-icons white-text" style="vertical-align: -6px;">account_box</i>
                                Editar
                                Conta</a>
                        </li>

                        <li>
                            <a class="" style="text-transform: capitalize;" href="{{URL}}/admin/logout">
                                <i class="material-icons white-text " style="vertical-align: -6px;">block</i>
                                Bloquear</a>
                        </li>
                        <li class="">
                            <a class="" style="text-transform: capitalize;" href="{{URL}}/admin/logout">
                                <i class="material-icons white-text " style="vertical-align: -6px;">cancel</i>
                                Encerrar conta
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="collapsible-header blue darken-2" href="{{URL}}/admin/definicao"
                        style="display: flex; align-items: center; text-transform: capitalize;">
                        <i class="fa-solid fa-cog" style="color: #63E6BE;"></i>
                        Configuração
                    </a>
                </li>

            </ul>

            <!-- sidebar menu end-->
        </aside>
    </div>

    <d id="conteudo" class="col m10 white lighten-4 section-field">