<!--HEADER-->
<header class="header navbar-fixed">

    <nav class="grey lighten-3 navbar-fixed">
        <div class="nav-wrapper">
            
            <ul>
                <a href="{{URL}}/admin" class="brand-logo logotipo blue darken-2 "
                    style="width: 180px;  height: 65px; text-align: center; border-bottom: 1px white solid; ">
                    <img class="" src="{{URL}}/Assets/img/logoMenu2.png" width="90">
                </a>
            </ul>

            <ul class="right hide-on-med-and-down ">
                <li class="rigth">
                    <a class="dropdown-trigger font-normal black-text" href="#!" data-target="dropdown1"> {{info}}
                        <i class="material-icons right lighten-2">arrow_drop_down</i>
                    </a>
                </li>
            </ul>

            <ul id="dropdown1" class="dropdown-content">
                <li class=" {{nivel}}">
                    <a class="black-text font-normal" href="{{URL}}/conta-admin">Minha Conta </a>
                </li>
                <li class="{{nivel}}">
                    <a class="black-text font-normal" href="{{URL}}/admin/logout">Configuração</a>
                </li>
                <li class="{{nivel}} ">
                    <a class="black-text font-normal" href="{{URL}}/admin/logout">Terminar Sessao</a>
                </li>
            </ul>

            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons black-text">search</i></a></li>
                <li><a href="badges.html"><i class="material-icons black-text">notifications</i></a></li>
                <li><a href=""><i class="material-icons black-text">refresh</i></a></li>
                <li><a href="collapsible.html"><i class="material-icons black-text">view_quilt</i></a></li>
            </ul>

        </div>
    </nav>

</header>

<main class="row grey lighten-4 ">

    <div class="col m2 blue darken-2">
        <aside id="aside" class="blue darken-2">
            <ul class="fixed collapsible blue darken-2">

                <li>
                    <a class="collapsible-header blue darken-2" href="{{URL}}/admin"
                        style="text-transform: capitalize;">
                        <i class="fa-solid fa-house" style="color: #63E6BE;"></i>
                        Home
                    </a>
                </li>

                <li>
                    <a class="collapsible-header blue darken-2" href="{{URL}}/admin"
                        style="display: flex; align-items: center; text-transform: capitalize;">
                        <i class="fa-solid fa-chart-pie" style="color: #63E6BE;"></i>
                        Relatorios
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="#" class="collapsible-header blue darken-2" style="text-transform: capitalize;">
                        <i class="fa-solid fa-square-plus" style="color: #63E6BE;"></i>
                        Cadastrar
                    </a>
                    <ul class="collapsible-body">

                        <li>
                            <a class="" style="text-transform: capitalize;" href="{{URL}}/usuario">
                                <i class="material-icons white-text" style="vertical-align: -6px;">person_add</i>
                                Usuarios
                            </a>
                        </li>

                        <li>
                            <a class="" style="text-transform: capitalize;" href="{{URL}}/funcionario">
                                <i class="fa fa-user-md fa-lg fa-5x" aria-hidden="true"> </i>
                                Funcionários
                            </a>
                        </li>

                        <li>
                            <a class="" style="text-transform: capitalize;" href="{{URL}}/paciente-admin">
                                <i class="material-icons white-text" style="vertical-align: -6px;">airline_seat_individual_suite</i>
                                Pacientes
                            </a>
                        </li>
                        <li>
                            <a class="" style="text-transform: capitalize;" href="{{URL}}/medicamento">
                                <i class="material-icons white-text" style="vertical-align: -6px;">description</i>
                                Medicamentos
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sub-menu blue darken-2">
                    <a href="#" class="collapsible-header blue darken-2" style="text-transform: capitalize;">
                        <i class="fa-solid fa-user" style="color: #63E6BE;"></i>
                        Conta
                    </a>

                    <ul class="collapsible-body">
                        <li><a class="" style="text-transform: capitalize;" href="{{URL}}/admin/conta">
                                <i class="material-icons white-text" style="vertical-align: -6px;">account_box</i>
                                Editar
                                Conta</a>
                        </li>

                        <li>
                            <a class="" style="text-transform: capitalize;" href="{{URL}}/admin/logout">
                                <i class="material-icons white-text " style="vertical-align: -6px;">settings</i>
                                Configuração</a>
                        </li>
                        <li class="">
                            <a class="" style="text-transform: capitalize;" href="{{URL}}/admin/logout">
                                <i class="material-icons white-text " style="vertical-align: -6px;">cancel</i>
                                Encerrar conta
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- sidebar menu end-->
        </aside>
    </div>

    <d id="conteudo" class="col m10 white lighten-4 section-field">