<section class="row section-field">

    <nav class='flex row  grey darken-3'>
        
        <div class="nav-wrapper ">
          <div class="col s12">
            <a href="#!" class="breadcrumb white-text font-media">{{nome}} </a>
          </div>
        </div>

        <div class="nav-wrapper col m3 ">
            <div class="col s12">
              <a href="{{URL}}/vendedor/ficha/{{id}}" class="breadcrumb white-text font-normal">Pagamento de Cartão</a>
            </div>
          </div>
    </nav>

    <div class="white">Pagamento Mensal</div>

    <table class="row col m12">
        <thead tbody class="thead">
          <tr class="centered">
            <th><i class="material-icons black-white ">format_list_numbered</i>Nº Conta</th>
            <th><i class="material-icons black-white ">person</i>Nº Factura</th>
            <th> <i class="material-icons black-white ">date_range</i>Mês Facturação </th>
            <th> <i class="material-icons black-white ">date_range</i>Vencimento</th>
            <th><i class="material-icons black-white ">attach_money</i>Valor</th>
            <th> <i class="material-icons black-white ">more</i>Status Período </th>
            <th><i class="material-icons black-white ">more</i>Status Conta</th>
            <th>Opção</th>
          </tr>
        </thead>
  
        <tbody tbody class="tbody">
          {{itemConta}}
        </tbody>
      </table>

      <div>
        <a href="{{URL}}/listagem/{{id}}" class="font-normal row black-text" target="_blank" >
            <button type="button " class="waves-effect waves-light green btn teal darken-3">
                  <i class="material-icons left">printer</i>Imprimir Listagem Conta
            </button>
        </a>
    </div>

</section>
