<tr>
    <td class="font-normal">{{id_paciente}}</td>
    <td>
        <img src="Files/Imagem/paciente/{{imagem}}" class="materialboxed circle " width="40" height="35">
    </td>
    <td class="font-normal">{{nome_paciente}}</td>
    <td class=" font-normal">{{inicioConsulta}}</td>
    <td class=" font-normal">{{fimConsulta}}</td>

    <td>


        <a class="tooltip-container " href="{{URL}}/consulta/remarcar/{{id_paciente}}">
            <button type="button " class="font-normal waves-effect btn teal  darken-1 tooltip-btn">
                <i class="material-icons center">folder_open</i>
            </button>
            <div class="custom-tooltip">Detalhes Consulta</div>
        </a>

        <a class="modal-trigger tooltip-container " href="#modalOpcao{{id_consulta}}">
            <button type="button" class="font-normal teal accent-4 btn">
                <i class="material-icons center">print</i>
            </button>
            <div class="custom-tooltip">Imprimir relatórios</div>
        </a>

        <!--
        <a class="tooltip-container " href="{{URL}}/consulta/atender/{{id_zona}}">
            <button type="button " class="font-normal waves-effect btn green accent-4 tooltip-btn">
                <i class="material-icons center">calendar_month</i>
            </button>
            <div class="custom-tooltip">Marcar nova consulta</div>
        </a>
    
        -->

    </td>
</tr>


<!-- MODAL PARA FINALIZAR CONSULTA  -->
<div id="modalFinalizar{{id_consulta}}" class="modal  modalImprimirTriagem">
    <div class="modal-content ">
        <form action="{{URL}}/consulta/finalizar/{{id_consulta}}" method="post" class="row center white push-m2">

            <label class="closeModal modal-close">&times;</label>

            <h5 class=" offset-m1 col s12 m10" style="text-transform: none;">
                <i class="material-icons left teal-text medium"
                    style="position: relative; top: -12px;">medical_services</i>
                <strong style="font-weight: bold; text-transform:none;">Finalizar a consulta</strong>
            </h5>
            <div class="row col m12">
                <div class="offset-m1 col s12 m9">
                    <p style="text-transform: none;">
                        Tem a certeza de que deseja finalizar esta consulta? Após a finalização, não
                        será possível alterar os dados clínicos registados.
                    <p>
                </div>

                <div class="offset-m1 col s12 m9">
                    <strong style="text-transform: none;">Confirme para concluir o atendimento do
                        paciente.
                    </strong>
                </div>

                <div class="offset-m1 col s12 m8">
                    <p>
                        <label>
                            <input name="confirmo" type="checkbox" />
                            <span> <strong style="font-weight: bold; color: black; text-transform: none;">
                                    Sim, confirmo a finalização da consulta</strong>
                            </span>
                        </label>
                    </p>
                </div>
                
                <div class=" col s12 " style="display: none;">
                    <input type="submit" id="submitess{{id_consulta}}" name="Salvar">
                </div>
        </form>
        <div class="row offset-m7 col s12 m4">
            <button class=" btn modal-close waves-effect blue darken-2 font-normal" name="cancelar" value="cancelar">
                Cancelar
            </button>

            <button type="submit" class="btn teal " required>
                <label class="white-text col m12" for="submitess{{id_consulta}}">Finalizar</label>
            </button>
        </div>
    </div>
</div>
</div>

