<section class="row section-field">

    <div class="col s12 m12">
        <h5>
            <a href="{{URL}}/admin/conta">Minha Conta</a>
            <hr>
        </h5>
    </div>

    <section class=" col s12 m3 white card-menu ">
        <ul class="collection with-header card">

            <div class="item-conta-img center ">
                <img class="img-conta modal-trigger openModal tooltippedFoto red-text"
                    src="{{URL}}/Files/Imagem/user/{{imagem}}" width="100" height="100" data-position="buttonn"
                    data-tooltip="Trocar a foto">
            </div>

            <li class="collection-header center ">
                <h6>{{nome}}</h6>
            </li>

            <a href="{{URL}}/admin/conta" class="collection-item capitalize ">Informações Pessoais</a>
            <a href="{{URL}}/admin/seguranca" class="collection-item capitalize {{active}}">Segurança da Conta</a>
            <a href="{{URL}}/conta/perfil" class="collection-item capitalize ">Personalização de Perfil</a>
            <a href="{{URL}}/admin/controle" class="collection-item capitalize ">Controles de Conta</a>
            <a href="{{URL}}/admin/conta" class="collection-item capitalize ">Preferências e Notificações</a>
            <a href="{{URL}}/admin/registros" class="collection-item capitalize ">Registros de Dados</a>
            <a href="{{URL}}/admin/logout" class="collection-item capitalize ">Terminar Sessão</a>
        </ul>
    </section>


    <section class=" col s12 m8 white ">

        <section class="row col m12 push-m1">

            <div class="col m12 pull-m1 center">
                <h6 class="negrito"> Segurança da Conta</h6>
                <br>
            </div>

            <div class="font-small">
                <p> <strong class="negrito">Alterar tua Senha</strong> </p>
                <p class="">
                    Mantenha sua conta segura atualizando sua senha regularmente. Para garantir
                    a integridade e a confidencialidade da sua conta, recomenda-se a atualização periódica da senha.
                </p>
                <a href="#modalAlterarSenha"
                    class="btn waves-effect waves-light white-text capitalize grey darken-2 modal-trigger">
                    <i class="material-icons left white-text"> lock_outline</i>Alterar
                </a>
            </div>
            <br>

            <div class="font-small ">
                <p class="negrito"><strong>Ver sessões ativas e dispositivos conectados</strong> </p>
                <p class="">
                    Certifique-se que a senha contenha 8 ou mais digitos, incluindo números e letras
                    maisculas.
                    Certifique-se que a senha contenha 8 ou mais digitos, incluindo números e letras
                    maisculas.
                </p>
                <a class="btn waves-light white-text capitalize grey darken-2">
                    <i class="material-icons left white-text">cached</i>Verificar
                </a>
            </div>
            <br>

            <div class="font-small ">
                <p class="negrito"><strong>Ver histórico de login</strong> </p>
                <p class="">
                    Certifique-se que a senha contenha 8 ou mais digitos, incluindo números e letras
                    maisculas.
                    Certifique-se que a senha contenha 8 ou mais digitos, incluindo números e letras
                    maisculas.
                </p>
                <a class="btn waves-light white-text capitalize grey darken-2 ">
                    <i class="material-icons left white-text">not_interested </i>Historico de login
                </a>
            </div>
            <br>

        </section>

    </section>
    <br>
    <br>

</section>


<!--- Modal alterar senha -->
<div id="modalAlterarSenha" class="modal modalMudarSenha">
    <div class="modal-content white">
        <form action="{{URL}}/admin/apagar/{id}" method="post">
            <div class="row">
                <div class="col s12 m12">
                    <h5 class="capitalize center ">
                        <strong style="font-weight: 700;" >Alterar Senha</strong>
                    </h5>
                </div>

                <div class="col m8 offset-m2">
                    <p style="font-size: 11px; font-weight: 900;">Padrões de segurança para cadastrar senha</p>
                    <p style="font-size: 11px;" >A senha deve possuir de 7 a 15 caracteres;</p>
                    <p style="font-size: 11px;"> A senha deve ser diferente da senha atual e diferente das 5 últimas senhas utilizadas.</p>
                </div>

                <div class="input-field col m8 offset-m2">
                    <input id="last_senha" type="password" name="senhaAntiga" value="{{senhaAntiga}}" class="validate">
                    <label for="last_senha" class="font-small">Senha antiga:</label>
                </div>

                <div class="input-field col m8 offset-m2">
                    <input id="nova_senha" type="password" name="senhaNova" value="{{senhaNova}}" class="validate">
                    <label for="nova_senha" class="font-small">Senha nova:</label>
                </div>

                <div class="input-field col m8 offset-m2">
                    <input id="con_senha" type="password" name="senhaConfirmada" value="{{senhaConf}}" class="validate">
                    <label for="con_senha" class="font-small">Confirme a nova senha:</label>
                </div>

                <div class="row col s12 m4 offset-m7">
                    <button class="modal-close btn blue darken-2 waves-effect capitalize" name="cancelar"
                        value="cancelar">
                        Cancelar
                    </button>

                    <button type="submit" class="btn red darken-2 waves-effect capitalize " name="apagar" required>
                        Alterar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



<!--Modal de alterar a foto-->
<div id="modal" class="modal {{blocks}}">
    <div class="modal-item modal-foto">
        <label id="closeModal" class="closeModal">&times;</label>
        <form method="post" enctype="multipart/form-data">
            <h5>Imagem de Perfil</h5>
            <p class="div-conta-inf">
                A tua imagem serve para ser facilmente indentificado, colocar uma foto tipo passe, pode remover a
                tua imagem do sistema e volta para a imagem padrão
            </p>
            <hr>
            {{msgVazio}}

            <div class="center">
                <label id="image" class="label-modal-img" for="img">
                    <img class="img-conta foto" src="{{URL}}/Files/Imagem/user/{{imagem}}" width="180" height="180">
                    <div>Carregar imagem</div>
                </label>
                <input type="file" id="img" name="imagem">
            </div>

            <div class="row flex">
                <button class="btn col m12 indigo" name="salvar" type="submit">
                    <i class="material-icons ">photo</i>Salvar
                </button>
            </div>

            <div class="row flex">
                <button class="btn red col m12" href="">
                    <i class="material-icons ">delete</i>Remover
                </button>
            </div>
        </form>
    </div>
</div>