                 
           <div class="item-conta-img center ">
                <img class="img-conta modal-trigger openModal tooltippedFoto red-text" src="{{URL}}/Files/Imagem/user/{{imagem}}" width="100"
                    height="100" data-position="buttonn" data-tooltip="Trocar a foto">
                <h6>{{nome}}</h6>
                <hr>
            </div>

            <div class="card-lista">

                <div>
                    <div><a class="thin capitalize negrito">Informações Pessoais</a></div>
                </div>

                <div class="">
                    <div><a href="{{URL}}/admin/editsenha" class="thin capitalize negrito">Segurança da Conta</a></div>
                </div>
                <div class="">
                    <div><a href="{{URL}}/admin/editemail" class="thin capitalize negrito ">Alterar Email</a></div>
                </div>

                <div>
                    <div><a class="thin capitalize negrito">Notificações</a></div>
                </div>

                <div class="collection-item">
                    <div><a href="{{URL}}/conta/editar"  class="thin capitalize negrito ">Registro</a></div>
                </div>

                <div class="collection-item">
                    <div><a href="{{URL}}/admin/apagar"  class="thin capitalize negrito"> Controles de Conta</a></div>
                </div>

                <div class="collection-item ">
                    <div><a class="thin capitalize negrito " href="{{URL}}/admin/logout">Terminar Sessão</a> </div>
                </div>

            </div>