<section class="row section-field card">
  
  <nav class="col m12  blue-grey darken-1 ">
    <div class="nav-wrapper  ">
      <a href="{{URL}}/usuario" class="brand-logo white-text capitalize" style="font-size: 18px; font-weight: bold; vertical-align: -6px;">
         Painel Usuário
      </a>
      <ul class="right hide-on-med-and-down row" style="height: 50px;">
        <li class="col pull-m3">
          <form>
            <div class="input-field">
              <input class="" id="search" type="search" name="pesquisar" required placeholder=" Pesquisar por nome">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
        <li class="white-text " style="text-transform: capitalize;">
          <a href="{{URL}}/usuario/cadastrar" class="white-text">
            <i class=" material-icons left white-text ">add</i>Novo Usuário
          </a>
        </li>
        <li class="" style="text-transform: capitalize;">
          <a href=" {{URL}}/relatorio/listaUser" class="white-text">
            <i class="material-icons left white-text ">print</i>Imprimir
          </a>
          </li>
      </ul>
    </div>
  </nav>

  <div class="row">
  </div>

  <div class="{{msgs}} col s12 m12">{{msg}}</div>

  <section class="white col m12">

    <table class="row col m12 ">
      <thead class="">
        <tr class="center">
          <th style="font-size: 13px;" ><i class="material-icons black-white" style="vertical-align: -6px;">format_list_numbered</i> Nº</th>
          <th style="font-size: 13px;" ><i id="coluna" class="material-icons black-white" style="vertical-align: -6px;">image</i>Imagem</th>
          <th style="font-size: 13px;" ><i class="material-icons black-white" style="vertical-align: -6px;">person</i> Nome Completo</th>
          <th style="font-size: 13px;" > <i class="material-icons black-white " style="vertical-align: -6px; ">phone</i>Telefone </th>
          <th style="font-size: 13px;" > <i class="material-icons black-white " style="vertical-align: -6px;">email</i>E-mail </th>
          <th style="font-size: 13px;" > <i class="material-icons black-white " style="vertical-align: -6px;">perm_identity</i>Acesso</th>
          <th style="font-size: 13px;" > <i class="material-icons black-white " style="vertical-align: -6px;">event</i>Data Registro</th>
          <th style="font-size: 13px;" > <i class="material-icons black-white " style="vertical-align: -6px;">settings</i>Opção</th>

        </tr>
      </thead>

      <tbody class="tbody">
        {{item}}
      </tbody>
    </table>

  </section>

  <section class="col m12 white">
    {{paginacao}}
  </section>

</section>

<!-- <button data-target="modalApagarUser" class="btn modal-trigger">Modal26</button> -->
