<section class="row section-field">

  <section class="row painel-card col m12">

    <div class="col l3">
      <h5>Painel Tesouraria</h5>
    </div>
    
    <div class="col l3 push-l6 painel-card-li">
      <li class="btn"><a href="{{URL}}/caixa">
          <i class="material-icons white-text ">add</i> Caixa</a></li>

      <li class="waves-effect waves-light btn">
        <a href="{{URL}}/relatorio/listaUser" target="_banck">
          <i class="material-icons white-text ">add</i>Nova Taxa</a>
      </li>
    </div>

  </section>

  <section id="card-relatorio-dados" class="row col m12 white">
    <h6 class="col m12 ">Preço Actual</h6>

    {{resultado}}

  </section>

  <section id="card-relatorio-dados" class="row col m12 white">
    <h6 class="col m12 ">Caixa</h6>

    <div class="card-relatorio col s12 m4 indigo darken-1 ">
      <div class="row">
        <div class="col m7">
          <h4 class="white-text font-large">20322</h4>
          <p class="white-text font-normal">Valor Total</p>
        </div>
        <div class="col m4">
          <i class="material-icons large orange-text text-darken-4">attach_money</i>
        </div>
        <div class="center col m12 button-print modal-trigger" data-target="modaluser">
          <a class=" col m12 white-text darken-1 font-normal " href="#">Caixa</a>
        </div>
      </div>
    </div>
    <div class="card-relatorio col s12 m4 indigo darken-1 ">
      <div class="row">
        <div class="col m7">
          <h4 class="white-text font-large">1322</h4>
          <p class="white-text font-normal">Valor Mensal</p>
        </div>
        <div class="col m4">
          <i class="material-icons large orange-text text-darken-4">attach_money</i>
        </div>
        <div class="center col m12 button-print modal-trigger" data-target="modaluser">
          <a class=" col m12 white-text darken-1 font-normal " href="#">Caixa</a>
        </div>
      </div>
    </div>
    <div class="card-relatorio col s12 m4 indigo darken-1 ">
      <div class="row">
        <div class="col m7">
          <h4 class="white-text font-large">2022</h4>
          <p class="white-text font-normal">Valor Diario</p>
        </div>
        <div class="col m4">
          <i class="material-icons large orange-text text-darken-4">attach_money</i>
        </div>
        <div class="center col m12 button-print modal-trigger" data-target="modaluser">
          <a class=" col m12 white-text darken-1 font-normal " href="#">Caixa</a>
        </div>
      </div>
    </div>

  </section>



</section>