<section class="row section-field white">

    <section>
        <div class="row" style="text-align: center;">
            <h5 class="center" style="text-transform: capitalize; margin-left:30px;"> Validar Informações da consulta
            </h5>
            <hr>
        </div>

        <section class="{{msgs}} row col offset-m1 s12 m11 l11 ">{{msg}}</section>

        <div class="row col offset-m1">
            <a class="btn font-normal " href="{{URL}}/consulta/atender/{{id_triagem}}">
                <i class="material-icons prefix white-text " style="vertical-align: -6px;">arrow_back</i>
                Voltar
            </a>

            <!--
                <a class="btn font-normal " href="{{URL}}/consulta/remarcar/{{id_paciente}}" target="_blank">
                    <i class="material-icons prefix white-text" style="vertical-align: -6px;">print</i>
                    Relatórios
                </a>
            -->
            <a class="btn font-normal " href="{{URL}}/consulta/remarcar/{{id_paciente}}" target="_blank">
                <i class="material-icons prefix white-text" style="vertical-align: -6px;">calendar_today</i>
                Remarcar consulta
            </a>

            <a class="btn font-normal " href="{{URL}}/consulta/remarcar/{{id_paciente}}" target="_blank">
                <i class="material-icons prefix white-text" style="vertical-align: -6px;">edit</i>
                Adicionar receita
            </a>

        </div>

    </section>

    <div class="col offset-m1 s12 m11 blue-grey darken-1 row">
        <!--header das abas-->
        <div class="blue-grey darken-1 white-text capitalize" style="height: 35px; display: flex; align-items: center;
                 justify-self: center; background-color: #f5f5f5; box-shadow: none;">
            FICHA MÉDICA DE CONSULTA
        </div>
    </div>

    <section class="row col m8 offset-m2 ">

        <div class="row white" style="padding:0px 37px;">

            <h6 class="capitalize negrito teal-text">
                <i class="fa fa-user fa-1x " aria-hidden="true"></i>
                Dados do Paciente
            </h6>
            <hr>
            <ul>
                <li class="right negrito font-normal">Paciente nº: {{id_paciente}}</li>
                <li class="negrito font-normal"> Nome Completo: <span>{{nome}}</span> </li>
                <li class="negrito font-normal"> Gênero: <span>{{genero}}</span></li>
                <li class="negrito font-normal"> Idade: <span>{{ano}} anos</span></li>
                <li class="negrito font-normal"> Documento/bilhete: <span>{{bilhete}}</span></li>
                <li class="negrito font-normal">Telefone: <span>{{telefone}}</span></li>
                <li class="negrito font-normal">Morada: <span>{{morada}}</span></li>
            </ul>

            <h6 class="capitalize negrito teal-text">
                <i class="fa fa-user-md fa-1x " aria-hidden="true"></i>
                Dados da consulta
            </h6>
            <hr>
            <ul>
                <li class="right negrito font-normal">Nº do Processo Clínico: {{id_consulta}}</li>
                <li class="negrito font-normal">Especialidade:<span> Clinica geral</span></li>
                <li class="negrito font-normal">Motivo da Consulta:<span> {{motivo}}</span></li>
                <li class="negrito font-normal">Diagnóstico:<span>{{diagnostico}} </span> </li>
                <li class="negrito font-normal">Conduta: <span>{{conduta}}</span></li>
                <li class="negrito font-normal">Observação:<span> {{obs}}</span></li>
                <li class="negrito font-normal">Próximo Retorno:<span> {{retorno}}</span></li>
                <li class="negrito font-normal">Data da Consulta:<span> {{data}}</span></li>
            </ul>

            <h6 class="capitalize negrito teal-text">
                <i class="fa fa-stethoscope fa-1x " aria-hidden="true"></i>
                Dados da Triagem
            </h6>
            <hr>
            <ul>
                <li class="right negrito font-normal">Triagem nº: {{id_triagem}}</li>
                <li class="negrito font-normal">Peso:<span> {{peso}} kg</span></li>
                <li class="negrito font-normal">Temperatura corporal:<span>{{temperatura}} °C</span> </li>
                <li class="negrito font-normal">Pressão arterial: <span>{{pressao}} mmHg</span></li>
                <li class="negrito font-normal">Frequência cardíaca:<span> {{cardiaca}} bpm </span></li>
                <li class="negrito font-normal">Frequência respiratória: <span>{{respiratorio}} Mrm</span></li>
                <li class="negrito font-normal">Saturação oxigênio:<span> {{saturacao}} %</span></li>
                <li class="capitalize negrito font-normal">Avaliação Clínica rapida: <span>{{observação}}</span></li>

                <!--
                    <p class="font-normal center">
                        <a href="{{URL}}/triagem/imprimir-ficha/{{id_triagem}}" class="font-normal white-text darken-5 btn"
                        target="_blank"> 🖨️ Imprimir ficha da triagem</a>
                    </p>
                -->
            </ul>

            <h6 class="capitalize negrito teal-text">
                <i class="fa fa-flask-vial fa-1x " aria-hidden="true"></i>
                Exames Solicitados
            </h6>
            <hr>

            {{exames}}

            <h6 class="capitalize negrito teal-text">
                <i class="fa fa-pills fa-1x " aria-hidden="true"></i>
                Prescrição
            </h6>
            <hr>

            {{receita}}

            <div class="white row">
                <h6 class="capitalize negrito teal-text">
                    Relátorios
                </h6>
                <hr>

                <p class="font-normal">Clica aqui para
                    <a href="{{URL}}/triagem/gerar-ficha/{{id_triagem}}" class="capitalize blue-text darken-5"> 📄
                        baixar e enviar
                    </a>
                    a ficha da consulta em PDF
                </p>

                <p class="font-normal">
                    Clica aqui para <a href="{{URL}}/triagem/imprimir-ficha/{{id_triagem}}"
                        class="capitalize blue-text darken-5" target="_blank"> 🖨️ Imprimir</a>
                    a ficha da consulta
                </p>

                <p class="font-normal">
                    Clica aqui para <a href="{{URL}}/triagem/imprimir-ficha/{{id_triagem}}"
                        class="capitalize blue-text darken-5" target="_blank"> 🖨️ Imprimir</a>
                    o atestado médico
                </p>

            </div>
            <br>

            <div>
                <form class="row" method="post" enctype="multipart/form-data">
                    <button type="submit" name="validar" class="col offset-m7 btn orange m2 white-text font-normal" >
                        {{buttonValidar}}
                    </button>

                    <button type="submit" name="finalizar" style="margin-left: 6px;" class="col btn m2 white-text font-normal">
                        {{buttonFinalizar}}
                    </button>
                    <br>

                </form>
            </div>

            <div><br></div>

        </div>

    </section>


</section>