<section class="row section-field white">

    <section>
        <div class="row" style="text-align: center;">
            <h5 class="center" style="text-transform: capitalize; margin-left:30px;"> Validação da consulta</h5>
            <hr>
        </div>

        <section class="{{msgs}} row col offset-m1 s12 m11 l11 ">{{msg}}</section>

        <div class="row col offset-m1">
            <a class="btn font-normal " href="{{URL}}/consulta/atender/{{id_triagem}}">
                <i class="material-icons prefix white-text " style="vertical-align: -6px;">arrow_back</i>
                Voltar
            </a>
            <!--
            <a class="btn font-normal " href="{{URL}}/consulta/remarcar/{{id_paciente}}" target="_blank">
                <i class="material-icons prefix white-text" style="vertical-align: -6px;">print</i>
                Relatórios
            </a>
            -->

            <a class="btn font-normal " href="{{URL}}/consulta/remarcar/{{id_paciente}}" target="_blank">
                <i class="material-icons prefix white-text" style="vertical-align: -6px;">calendar_today</i>
                Remarcar consulta
            </a>

            <a class="btn font-normal " href="{{URL}}/consulta/remarcar/{{id_paciente}}" target="_blank">
                <i class="material-icons prefix white-text" style="vertical-align: -6px;">edit</i>
                Adicionar receita
            </a>

        </div>
    </section>

    <div class="col offset-m1 s12 m11 blue-grey darken-1 row">
        <!--header das abas-->
        <div class="blue-grey darken-1 white-text capitalize" style="height: 35px; display: flex; align-items: center;
                 justify-self: center; background-color: #f5f5f5; box-shadow: none;">
            FICHA MÉDICA DE CONSULTA
        </div>
    </div>

    <section class="row col m8 offset-m2 ">

        <div class="row white" style="padding:0px 37px;">

            <h6 class="capitalize negrito teal-text">Dados do Paciente</h6>
            <hr>
            <ul>
                <li class="right negrito font-normal">triagem Nº: {{id_triagem}}</li>
                <li class="negrito font-normal"> Nome Completo: <span>{{nome}}</span> </li>
                <li class="negrito font-normal"> Gênero: <span>{{genero}}</span></li>
                <li class="negrito font-normal"> Idade: <span>{{ano}} anos</span></li>
                <li class="negrito font-normal"> Documento/bilhete: <span>{{bilhete}}</span></li>
                <li class="negrito font-normal">Pioridade: <span>{{pioridade}}</span></li>
            </ul>

            <h6 class="capitalize negrito teal-text">Dados da triagem</h6>
            <hr>
            <ul>
                <li class="negrito font-normal">Peso:<span> {{peso}} kg</span></li>
                <li class="negrito font-normal">Temperatura corporal:<span>{{temperatura}} °C</span> </li>
                <li class="negrito font-normal">Pressão arterial: <span>{{pressao}} mmHg</span></li>
                <li class="negrito font-normal">Frequência cardíaca:<span> {{frequencia_cardiaca}} bpm </span></li>
                <li class="negrito font-normal">Frequência respiratória: <span>{{frequencia_respiratorio}} Mrm</span>
                </li>
                <li class="negrito font-normal">Saturação oxigênio:<span> {{saturacao}}%</span></li>
                <li class="capitalize negrito font-normal">Avaliação Clínica rapida: <span>{{observação}}</span></li>
                <li>
                    <p class="font-normal">
                        Clica aqui para <a href="{{URL}}/triagem/imprimir-ficha/{{id_triagem}}"
                            class="capitalize blue-text darken-5" target="_blank"> 🖨️ Imprimir</a>
                        a ficha da triagem
                    </p>
                </li>
            </ul>

            <h6 class="capitalize negrito teal-text">Dados da consulta</h6>
            <hr>
            <ul>
                <li class="negrito font-normal">Peso:<span> {{peso}} kg</span></li>
                <li class="negrito font-normal">Temperatura corporal:<span>{{temperatura}} °C</span> </li>
                <li class="negrito font-normal">Pressão arterial: <span>{{pressao}} mmHg</span></li>
                <li class="negrito font-normal">Frequência cardíaca:<span> {{frequencia_cardiaca}} bpm </span></li>
                <li class="negrito font-normal">Frequência respiratória: <span>{{frequencia_respiratorio}} Mrm</span>
                </li>
                <li class="negrito font-normal">Saturação oxigênio:<span> {{saturacao}}%</span></li>
                <li class="capitalize negrito font-normal">Avaliação Clínica rapida: <span>{{observação}}</span></li>
            </ul>

            <h6 class="capitalize negrito teal-text">Exames Solicitados</h6>
            <hr>
            <ul>
                <li class="negrito font-normal">Peso:<span> {{peso}} kg</span></li>
                <li class="negrito font-normal">Temperatura corporal:<span>{{temperatura}} °C</span> </li>
                <li class="negrito font-normal">Pressão arterial: <span>{{pressao}} mmHg</span></li>
                <li class="negrito font-normal">Frequência cardíaca:<span> {{frequencia_cardiaca}} bpm </span></li>
                <li class="negrito font-normal">Frequência respiratória: <span>{{frequencia_respiratorio}} Mrm</span>
                </li>
                <li class="negrito font-normal">Saturação oxigênio:<span> {{saturacao}}%</span></li>
                <li class="capitalize negrito font-normal">Avaliação Clínica rapida: <span>{{observação}}</span></li>

                <li>
                    <p class="font-normal">
                        Clica aqui para <a href="{{URL}}/triagem/imprimir-ficha/{{id_triagem}}"
                            class="capitalize blue-text darken-5" target="_blank"> 🖨️ Imprimir</a>
                        a ficha de exames
                    </p>
                </li>

            </ul>

            <div class="white row">
                <hr>

                <p class="font-normal">Clica aqui para
                    <a href="{{URL}}/triagem/gerar-ficha/{{id_triagem}}" class="capitalize blue-text darken-5"> 📄
                        baixar e enviar
                    </a>
                    a ficha da consulta em PDF
                </p>

                <p class="font-normal">
                    Clica aqui para <a href="{{URL}}/triagem/imprimir-ficha/{{id_triagem}}"
                        class="capitalize blue-text darken-5" target="_blank"> 🖨️ Imprimir</a>
                    a ficha da consulta
                </p>

                <p class="font-normal">
                    Clica aqui para <a href="{{URL}}/triagem/imprimir-ficha/{{id_triagem}}"
                        class="capitalize blue-text darken-5" target="_blank"> 🖨️ Imprimir</a>
                    o atestado médico
                </p>

            </div>
            <br>

            <div>
                <form class="row" method="post" enctype="multipart/form-data">
                    <button type="submit" name="finaliza" class="col offset-m7 btn orange m2 white-text font-normal ">
                        {{button1}}
                    </button>

                    <button type="submit" style="margin-left: 6px;" name="valida"
                        class="col btn m2 white-text font-normal">
                        {{button2}}
                    </button>
                    <br>
                </form>

            </div>
            <div><br></div>
        </div>

    </section>


</section>