<tr>
    <td class="center font-normal">{{id_paciente}}</td>
    <td >
        <img src="Files/Imagem/paciente/{{imagem}}" class="materialboxed circle " width="45" height="30">
    </td>
    <td class="font-normal">{{nome_paciente}}</td>
    <td class="center font-normal">{{genero}}</td>
    <td class="center font-normal">{{idade}}</td>
    <td class="center font-normal">{{perioridade}}</td>

    <td class="center">

        <a class="tooltip-container " href="{{URL}}/consulta/atender/{{id_paciente}}">
            <button type="button " class="font-normal waves-effect btn green accent-4 tooltip-btn">
                <i class="material-icons center">medical_information</i>
            </button>
            <div class="custom-tooltip">Iniciar Consulta</div>
        </a>
        <a class="tooltip-container " href="{{URL}}/consulta/atender/{{id_zona}}">
            <button type="button " class="font-normal waves-effect btn green accent-4 tooltip-btn">
                <i class="material-icons center">add</i>
            </button>
            <div class="custom-tooltip">Marcar nova Consulta</div>
        </a>
        <a class="tooltip-container " href="{{URL}}/consulta/atender/{{id_zona}}">
            <button type="button " class="font-normal waves-effect btn green accent-4 tooltip-btn">
                <i class="material-icons center">medical_information</i>
            </button>
            <div class="custom-tooltip">Iniciar a Consulta</div>
        </a>
    </td>
</tr>