<!-- iNICIO DO BALCAO E TRIAGEM-->

                        <!--ul de pesquiza-->
                        <ul class=" hide-on-med-and-down">
                            <form method="get">
                                <div class="form-area-search-home">
                                    <input id="pesquisaHome" type="search" name="pesquisar" placeholder=" Pesquisar por Numero"
                                        value="{{pesquisar}}">
                                    <button class="button-search-home btn blue" id="button-search-home" type="submit">
                                        <i class="material-icons acima ">search</i>
                                    </button>
                                </div>
                            </form>
                        </ul>

<section class="row section-field ">
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <h1>Balcão</h1>
    <div class="area-busca grid-column col-start3 col-end11">

        {{BuscaVendedor}}
    </div>

</section>