<header class=" navbar-fixed">
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="{{URL}}/login">Conta Login </a></li>
    <li><a href="{{URL}}/admin/login">Conta Administrador</a></li>
  </ul>

  <nav class="teal navbar-fixed">
    <div class="nav-wrapper navbar-fixed">
      <a href="{{URL}}/site" class="brand-logo" style="position: relative; top: -50px; left: 30px;">
        <img class="brand-logo" src="{{URL}}/Assets/img/logo01.png" height="80" width="140">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{URL}}/site">Home</a></li>
        <li><a href="#sass">Serviços</a></li>
        <li><a href="{{URL}}/contactos">Contactos</a></li>
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1">Iniciar Sessão<i
              class="material-icons right">arrow_drop_down</i></a>
        </li>
      </ul>
    </div>
  </nav>

</header>
<!-- End #header -->

<!-- ======= Hero Section ======= -->
<section id="as" class="teal lighten-4">
  <div class="hero-container text-center " style="height: 60px;">
    <h1 class="white-text"> Fala com a nossa equipa</h1>
  </div>
</section><!-- #hero -->

<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">

        <div class="contact-about">
          <h3 class="teal-text" style="font-size: 24px; ">Logar como Administrador</h3>
          <p>
            A Conta do administrador serve para gerenciar o sistema ha nivel
            de cadastramento como novos funcionarios, usuarios, treinamento de IA e
            diversos recursos oferecido pelo sistema
          </p>
          <div>
            <br>
            <a class="btn teal" style="text-transform: capitalize;" href="{{URL}}/admin/login">Logar admin</a>
          </div>
          <div class="social-links">
            <br>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <p class="teal-text " style="font-size: 24px; ">Contactos</p>
        <br>
        <div class="info">
          <div>
            <i class="bi bi-geo-alt"></i>
            <p>A108 Adam Street<br>New York, NY 535022</p>
          </div>

          <div>
            <i class="bi bi-envelope"></i>
            <p>info@example.com</p>
          </div>

          <div>
            <i class="bi bi-phone"></i>
            <p>+244 945 328 161</p>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-12">
        <p class="teal-text " style="font-size: 24px; ">Enviar um email</p>
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">

          <div class="input-field col m11">
            <i class="material-icons prefix teal-text">perm_identity</i>
            <input id="nome" type="email" class="validate" name="email" required value="">
            <label for="nome">Nome</label>
          </div>

          <div class="input-field col m11">
            <i class="material-icons prefix teal-text">mail_outline</i>
            <input id="email" type="email" class="validate" name="email" required value="">
            <label for="email">Email</label>
          </div>

          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Us Section -->