

/* justificacao de text */

.center{
    justify-content: center;
    justify-items: center;
    text-align:center ;
}
/** font icon*/
#icons-font{
  font-size: 85pt;
  color: rgba(255, 110, 7, 0.788);
}
.material-icons{
  display:inline-flex;
   padding-right: 7px;
   color: rgb(255, 110, 7);
}

/* css grid  */
.grid{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: 40px;
}
.grid-simples{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-gap: 5px;
}

.grid-column{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.col-start1{grid-column-start: 1;}    .col-end1{grid-column-end: 1;} 
.col-start2{grid-column-start: 2;}    .col-end2{grid-column-end: 2;}      
.col-start3{grid-column-start: 3;}    .col-end3{grid-column-end: 3;}  
.col-start4{grid-column-start: 4;}    .col-end4{grid-column-end: 4;}  
.col-start5{grid-column-start: 5;}    .col-end5{grid-column-end: 5;}  
.col-start6{grid-column-start: 6;}    .col-end6{grid-column-end: 6;}  
.col-start7{grid-column-start: 7;}    .col-end7{grid-column-end: 7;}  
.col-start8{grid-column-start: 8;}    .col-end8{grid-column-end: 8;}  
.col-start9{grid-column-start: 9;}    .col-end9{grid-column-end: 9;}  
.col-start10{grid-column-start: 10;}  .col-end10{grid-column-end: 10;}    
.col-start12{grid-column-start: 12;}  .col-end11{grid-column-end: 11;}
.col-start11{grid-column-start: 11;}  .col-end12{grid-column-end: 12;}    
                                      .col-end13{grid-column-end: 13;}    

.card-grid{
    display: grid;
    grid-template-columns: repeat(9,1fr);
}
.grid-row{
    display: grid;
    grid-template-rows: repeat(10,40px);
    grid-template-columns: 1/12;
}

/* Css flex*/
.flex{
    display: flex;
    flex-direction: row;
}

.flex1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.column{
  flex-direction: column;
}
/* CSS menu 2  */
.painel-card a{ color: rgb(252, 252, 252);}
  
.painel-card{
    display: flex;
   justify-content: space-between;
    background-color: #0000008e;
    margin-bottom: 25px;
    height: 75px;
    position: relative;
}

.painel-card > div{   
    color: white; 
    margin-left: 20px;
    margin-right: 20px;
}

.painel-card-li{
    display: flex;
   align-items: center;
}

.painel-card-li > li{
    box-sizing: border-box;
    margin: 6px;
    padding: 8% 4px;
}
.painel-card-li > li:hover{
    background-color: rgb(65, 54, 54);
}

.painel-form > form{
    margin: 15px;
    display: flex;
}

.button-search{
  margin-left: 2px;
  width: 44px;
  height: 42px;
}

.button-search-home{
  margin-left: 2px;
  width:36px;
  height:34px;
}

#inputSearch{
  height: 34px;
  width: 250px;
}

/* 
img conta header
*/
.item-img{
  border-radius: 100%;
}
.item-img>a>img{
  border-radius: 100%;
}

/* 
input tipo estilo de position absolute
*/

.label-float{
    position: relative;
    padding-top: 13px;
  }
  
.label-float input{
    border: 1px solid rgb(121, 136, 126);
    border-radius: 5px;
    min-width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance:none;
    width: 50%;
    clear: both;
    translate: unset;
}
  
.label-float input:focus{
    border: 2px solid rgb(13, 13, 160);
    background-color: white;
}
  
.label-float input::placeholder{
    color:transparent;
}
.label-float input:valid{
    
    background-color: rgb(255, 255, 255);
}

input:-webkit-autofill { box-shadow: 0 0 0 1000px #FFFFFF inset; } 
  
.label-float label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
  }

  .label-float input:required:invalid + label{
    color: red;
  }
  .label-float input:focus:required:invalid{
    border: 2px solid red;
  }
  .label-float1 input:required:invalid + label:before{
    content: '*';
  }
  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    top: 0;
    color: #000000;
  } 

  .button2{
    cursor: pointer;
    width: 108%;
    padding: 4px;
    border: 1.5px solid rgb(13, 13, 160);
    background-color: rgb(247, 244, 244);
    font-size: large;
    transition: 1s;
    border-radius: 5px;
    margin: 5px 0;
    text-align: center;
}

.button2:hover{
  background-color: rgb(13, 13, 160);
  color: white;
}
  .button{
    cursor: pointer;
    width: 108%;
    padding: 15px;
    border: 1.5px solid #0de11b;
    background-color: rgb(247, 244, 244);
    font-size: large;
    transition: 1s;
    border-radius: 5px;
    margin: 10px 0;
}

.button:hover{
    background-color: rgb(185, 185, 201);
    color: white;
}

.button:required:hover{
  background-color: rgb(236, 51, 51);
  color: white;
}

option {
  margin: 20px;
  font-size: medium;
  height: 100px;
}

input{
  border-radius: 5px;
}

input[type=date]{
  width: 110%;
  height: 40px;
  border-color: rgb(158, 155, 155);
}

input[type=search]{
  width: 360px;
  height: 44px;
}

.input-field{
  width: 110%;
  border-radius: 5px;
  margin: 15px;
}

select{
  font-size: large;
  background-color: rgba(255, 255, 255, 0.9);
  width: 103%;
  height: 47px;
  border-radius: 5px;
  cursor: pointer;
}

hr{
  background-color: rgb(136, 136, 136);
  width: 100%;
  
}

/*pagianacao */
.paginacao{
  display: flex;
  margin-top: 15px;
  background-color: rgb(204, 202, 202);
}

.paginacao >li{
  margin-right: 2.5px;
}

.page-item{
  cursor: pointer;
  height: 25px ;
  width: 20px;
  padding: 5px;
  background-color: rgb(175, 175, 175);
  text-align: center;
  border-radius: 3px;
  justify-content: center;
  text-align: center;
}

.page-item:hover{
  background-color: hsla(0, 0%, 0%, 0.557)
}

.page-item > a{
  color: rgb(255, 255, 255);
  padding: 5px;
}

#active{
  background-color: rgb(255, 110, 7);
  color:white;
}

.msg{
  background-color: rgb(82, 196, 7);
  font-size: small;
  margin-bottom: 5px;
  color: white;
  text-align: center;
  padding: 12px 0px;
}

