<section class="row section-field white">

  <section class="rpw">
    <div class="row" style="text-align: center;">
      <h5 class="center" style="text-transform: capitalize; margin-left:30px;"> Painel Laboratório</h5>
          <hr>
    </div>

    <div class="row col offset-m1">
      <a class="btn font-normal "  href="{{URL}}/exame">
        <i class="material-icons prefix white-text " style="vertical-align: -6px;">biotech</i>
        Gerenciar Exames
      </a>
      <a class="btn font-normal"  href="{{URL}}/laboratorio">
        <i class="material-icons prefix white-text" style="vertical-align: -6px;">calendar_today</i>
        Agendar Exame
      </a>
    </div>
  </section>

  <section class="{{msgs}} col s12 m12 l12 ">{{msg}}</section>

  <div class="row col m11 offset-m1">

    <div class="col s12 blue-grey darken-1 row">
      <!--header das abas-->
      <ul class="tabs tabsvendedor blue-grey darken-1 "
        style="height: 35px; display: flex; align-items: center; justify-self: start; background-color: #f5f5f5; box-shadow: none;">
        <li class="tab"><a class="active font-normal" href="#exameSolicitado">Exames Solicitados</a></li>
        <li class="tab"><a class="font-normal" href="#pExameFinalizado">Exames finalizados</a></li>
      </ul>
    </div>

    <!-- Exame solicitado-->
    <div id="exameSolicitado" class="col s12">
      <section class="white col m12">
        <table class="row col m12 responsive-table ">
          <thead class="">
            <tr class=" blue-grey lighten-5">
              <th class="font-normal negrito" style="width: 7%;"><i class="material-icons black-white"
                  style="vertical-align: -6px;">format_list_numbered</i>Código
              </th>

              <th class="font-normal negrito"><i class="material-icons black-white"
                  style="vertical-align: -6px;">person</i>Nome completo
              </th>

              <th class="font-normal negrito"> <i class="material-icons black-white "
                  style="vertical-align: -6px;">science</i>Exames
              </th>

              <th class="font-normal negrito"> <i class="material-icons black-white "
                  style="vertical-align: -6px;">flag</i>Nivel atendimento
              </th>

              <th class="font-normal negrito">
                <i class="material-icons black-white " style="vertical-align: -6px;">calendar_month</i>
                Data solicitação
              </th>

              <th class="font-normal negrito">
                <i class="material-icons black-white " style="vertical-align: -6px;">note_alt</i>
                Estado exame
              </th>

              <th class="font-normal negrito">
                <i class="material-icons black-white " style="vertical-align: -6px;">settings</i>
                Ações
              </th>
            </tr>
          </thead>

          <tbody tbody class="tbody">
            {{listarExameSolicitado}}
          </tbody>
        </table>

      </section>

      <section class="col m12 white">
        {{paginacao}}
      </section>
    </div>

    <!-- Exame finalizado-->
    <div id="pExameFinalizado" class="col s12">

      <section class="white col m12">
        <table class="row col m12 responsive-table ">
          <thead class="">
            <tr class=" blue-grey lighten-5">
              <th class="font-normal negrito"><i class="material-icons black-white"
                  style="vertical-align: -6px;">format_list_numbered</i>Código
              </th>

              <th class="font-normal negrito"><i class="material-icons black-white"
                  style="vertical-align: -6px;">person</i>Nome completo
              </th>

              <th class="font-normal negrito"> <i class="material-icons black-white "
                  style="vertical-align: -6px;">science</i>Exames
              </th>

              <th class="font-normal negrito">
                <i class="material-icons black-white " style="vertical-align: -6px;">calendar_month</i>
                Data solicitação
              </th>

              <th class="font-normal negrito">
                <i class="material-icons black-white " style="vertical-align: -6px;">calendar_month</i>
                Data realização
              </th>

              <th class="font-normal negrito"> <i class="material-icons black-white "
                  style="vertical-align: -6px;">note_alt</i>Estado
              </th>

              <th class="font-normal negrito">
                <i class="material-icons black-white " style="vertical-align: -6px;">settings</i>
                Ações
              </th>
            </tr>
          </thead>

          <tbody tbody class="tbody">
            {{listarExameFinalizdo}}
          </tbody>
        </table>

      </section>

      <section class="col m12 white">
        {{paginacao}}
      </section>
    </div>


</section>