<tr>
    <td class="center font-normal">{{id_exameSolicitado}}</td>
    <td class="font-normal">{{nome_paciente}}</td>
    <td class="font-normal">{{exame}}</td>
    <td class="font-normal">{{emergencia}}</td>
    <td class="font-normal">{{data}}</td>
    <td class="center">

        <a class="tooltip-container " href="{{URL}}/exame/resultado/{{id_exameSolicitado}}">
            <button type="button " class="font-normal waves-effect btn blue accent-4 tooltip-btn">
                <i class="material-icons center">biotech</i>
            </button>
            <div class="custom-tooltip">Lançar Resultado</div>
        </a>
        
        <a class="tooltip-container " href="{{URL}}/consulta/atender/{{id_zona}}">
            <button type="button " class="font-normal waves-effect btn green accent-4 tooltip-btn">
                <i class="material-icons center">medical_information</i>
            </button>
            <div class="custom-tooltip">Iniciar a Consulta</div>
        </a>
    </td>
</tr>