<section class="section-field row">
        <h5 class="black-text center"> {{titulo}} </h5>

    <nav class="col m12 blue-grey darken-1">
        <div class="nav-wrapper ">
            <ul class="right hide-on-med-and-down row" style="height: 50px;">
                <li class="white-text " style="text-transform: capitalize;">
                    <a href="{{URL}}/paciente" class="white-text">
                        <i class=" material-icons left white-text ">arrow_back</i>voltar
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="col m12 s12 left">
        <br>
    </section>

    <!-- formulario para cadastramento de usuario start -->
    <section class="row col m10 offset-m2 " style="text-align: center;">
        <form class="col m9 push-m1" method="post" enctype="multipart/form-data">

            <ul class="collapsible expandable white">

                <li class="active">
                    <div id="form-collapsible" class="collapsible-header white white-text font-normal grey darken-3"><i
                            class="material-icons">person</i>Dados pessoais</div>
                    <div class="collapsible-body row">

                        <div class="input-field col s12 m12">
                            <input id="nome" type="text" name="nome" value="{{nome}}" class="validate">
                            <label for="nome" style="text-transform: capitalize;">Nome:</label>
                        </div>
                        <div class="input-field col s6 m6">
                            <input id="pai" type="text" name="pai" value="{{pai}}">
                            <label for="pai" style="text-transform: capitalize;">Pai:</label>
                        </div>
                        <div class="input-field col s6 m6">
                            <input id="mae" type="text" name="mae" value="{{mae}}">
                            <label for="mae" style="text-transform: capitalize;">Mãe:</label>
                        </div>

                        <div class="row center">
                            <div class=" input-radio col s12 m6 ">
                                <label>
                                    <input type="radio" value="Masculino" id="masc" name="genero" class="with-gap"
                                        checked>
                                    <span for="masc">Masculino </span>
                                </label>
                                <label>
                                    <input type="radio" value="Feminino" id="fem" name="genero" class="with-gap"
                                        {{genero}}>
                                    <span for="fem">Feminino</span>
                                </label>
                            </div>
                            <div class="input-field col s12 m6 ">
                                <input id="nascimento" type="text" name="nascimento" class="datepicker"
                                    value="{{data}}">
                                <label for="nascimento" style="text-transform: capitalize;">Data de nascimento:</label>
                            </div>
                        </div>

                        <div class="input-field col s12 m6">
                            <select name="nacionalidade">
                                <option value="" disabled selected>Escolhe uma opção</option>
                                <option value="Angolana" {{angolana}}>Angolana</option>
                                <option value="Estrangeiro" {{estrageiro}}>Estrangeiro</option>
                            </select>
                            <label style="text-transform: capitalize; font-size: 14px;">Nacionalidade</label>
                        </div>

                        <div class="input-field col s12 m6">
                            <input id="bilhete" type="text" data-length="50" name="bilhete" value="{{bilhete}}" />
                            <label for="bilhte" style="text-transform: capitalize;">Nº do Bilhete ou Passaporte</label>
                        </div>

                    </div>
                </li>

                <li class="active">
                    <div class="collapsible-header white-text font-normal grey darken-3"><i
                            class="material-icons">phone</i>Contactos e Endereço</div>
                    <div class="collapsible-body row">
                        <div class="input-field col s12 m6">
                            <input id="telefone1" type="text"  name="telefone1" value="{{telefone1}}" />
                            <label for="telefone1" style="text-transform: capitalize;">Primeiro nº Telefone:</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="telefone2" type="text"  name="telefone2" value="{{telefone2}}" />
                            <label for="telefone2" style="text-transform: capitalize;">Segundo nº
                                Telefone(Opcional):</label>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m4">
                                <input class="validate" id="email" type="text" data-length="60" name="email"
                                    value="{{email}}" />
                                <label for="email" style="text-transform: capitalize;">E-mail:</label>

                            </div>

                            <div class="input-field col s12 m8">
                                <input id="morada" type="text" data-length="100" name="morada" value="{{morada}}" />
                                <label for="morada" style="text-transform: capitalize;">Endereço Completo</label>
                            </div>
                        </div>

                    </div>
                </li>

                <!--collapsible dados Informações Clinica e administrativas -->
                <li class="active">
                    <div class="collapsible-header white white-text font-normal grey darken-3"> <i
                            class="material-icons">place</i> Informações Clínicas Iniciais e Administrativas</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="input-field col s12 m8">
                                <input id="motivo" type="text" name="motivo" value="{{motivo}}" />
                                <label for="motivo" style="text-transform: capitalize;">Motivo da entrada</label>
                            </div>
                            <div class="input-field col s12 m4">
                                <select name="estado">
                                    <option value="" disabled selected>Escolhe uma opção</option>
                                    <option value="Atendimento agendado" {{Atendimento agendado}}>Atendimento agendado
                                    </option>
                                    <option value="Em Triagem" {{Em Triagem}}>Em Triagem </option>
                                    <option value="Em tratamento" {{Em tratamento}}>Em tratamento</option>
                                    <option value="Em atendimento" {{Em atendimento}}>Em atendimento</option>
                                    <option value="Consulta Marcada" {{Consulta Marcada}}>Consulta Marcada</option>
                                    <option value="Alta" {{Alta}}>Alta</option>
                                    <option value="Aberto" {{Aberto}}>Aberto</option>
                                </select>
                                <label style="text-transform: capitalize; font-size: 14px;">Sector e Estado do
                                    Paciente</label>
                            </div>
                            <div class="input-field col s12 m7">
                                <input id="responsavelNome" type="text" name="responsavelNome"
                                    value="{{responsavelNome}}" />
                                <label for="responsavelNome" style="text-transform: capitalize;">Nome do Responsável</label>
                            </div>
                            <div class="input-field col s12 m5">
                                <input id="responsavelTelefone" type="text" data-length="30" name="responsavelTelefone"
                                    value="{{responsavelTelefone}}" />
                                <label for="responsavelTelefone" style="text-transform: capitalize;">Contactos do
                                    Responsável</label>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="active">
                    <div class="collapsible-header white-text font-normal grey darken-3">
                        <i class="material-icons">image</i>Carregar ficheiro
                    </div>
                    <div class="collapsible-body ">
                        <div class="row">

                            <div class="file-field input-field col m12 row">
                                <div class="btn col m3">
                                    <span>Enviar foto</span>
                                    <input type="file" name="imagem">
                                </div>
                                <div class="file-path-wrapper col m9">
                                    <input class="file-path validate" type="text" value="{{imagem}}">

                                </div>
                            </div>

                            <div class="file-field input-field col m12 row">
                                <div class="btn col m3">
                                    <span>Outros doumentos</span>
                                    <input type="file" name="documentos" multiple>
                                </div>
                                <div class="file-path-wrapper col m9">
                                    <input class="file-path validate" type="text">

                                </div>
                            </div>

                        </div>
                    </div>

                </li>
            </ul>

            <div class="row col s12 m12">
                <br>
                <button class="btn col offset-m9 m3" type="submit" name="cadastrar">{{button}}</button>
            </div>
        </form>
        <!-- formulario para cadastramento de usuario end -->
    </section>

</section>

<script src="{{URL}}/Assets/js/main.js"></script>