<tr>

    <td>{{id_paciente}}</td>
    <td><img class="materialboxed" src="Files/imagem/paciente/{{imagem}}" width="50" height="30"></td>
    <td>{{nome}}</td>
    <td>{{genero}}</td>
    <td >{{nascimento}}</td>
    <td>{{estados}}</td>

    <td>
        <!---
        <a href="{{URL}}/vendedor/{{id}}">
            <button type="button" class="waves-effect waves-light grey accent-1 btn">
                <i class="material-icons left">person</i>Perfil
            </button>
        </a>
        -->
        <a class="modal-trigger tooltip-container " href="#modalOpcao{{id_paciente}}">
            <button type="button" class="font-normal green accent-4 btn">
                <i class="material-icons center">add</i>
            </button>
            <div class="custom-tooltip">Consulta & Triagem</div>
        </a>
        <a class="tooltip-container " href="{{URL}}/paciente/editar/{{id_paciente}}">
            <button type="button " class="font-normal  btn blue darken-2 tooltip-btn">
                <i class="material-icons center">edit</i>
            </button>
            <div class="custom-tooltip">Editar Conta</div>
        </a>

       <!-- <a class="tooltip-container {{REGISTROS_DELETE}} " href="{{URL}}/paciente-apagar/{{id_paciente}}">-->
        <a class="modal-trigger tooltip-container " href="#modalpaciente{{id_paciente}}">
        <button type="button " class=" font-normal  btn red  darken-2 {{enable_btn}}  tooltip-btn">
                <i class="material-icons center">delete</i>
            </button>
            <div class="custom-tooltip">Apagar conta</div>
        </a>

        <a class="tooltip-container " href="{{URL}}/paciente/{{id_paciente}}">
            <button type="button" class="font-normal waves-light teal accent-4 btn tooltip-btn">
                <i class="material-icons center">visibility</i>
            </button>
            <div class="custom-tooltip">Visualizar Conta</div>
        </a>

    </td>
</tr>

<a class="tooltip-container " href="{{URL}}/triagem/editar/{{id_triagem}}"></a>

<!-- MODAL PARA opçao de escolha   -->
<div id="modalOpcao{{id_paciente}}" class="modal  modalImprimirTriagem">
    <div class="modal-content ">
        <label class="closeModal modal-close">&times;</label>

        <h5 class=" offset-m1 col s12 m10" style="text-transform: capitalize;">
            <i class="material-icons left teal-text medium" style="position: relative; top: -12px;">view_module</i>
            <strong style="font-weight: bold;">Seleciona tipo de serviços</strong>
        </h5>

        <div class="row col m12">

            <a href="{{URL}}/triagem/paciente/{{id_paciente}}" class="row offset-m1 col s12 m5 btn-large pink">
                <i class="fa fa-user-md fa-5x white-text" aria-hidden="true"> </i>
                <span class="white-text">Marcar consulta</span>
            </a>
            <a href="{{URL}}/triagem/paciente/{{id_paciente}}" class="row offset-m1 col s12 m5 btn-large purple">
                <i class="fa fa-stethoscope fa-5x white-text" aria-hidden="true"> </i>
                <span class="white-text">Triagem</span>
            </a>
            <br>

            <a href="{{URL}}/triagem/paciente/{{id_paciente}}" class="row offset-m1 col s12 m5 btn-large  red">
                <i class="fa-solid fa-bed-pulse fa-5x white-text" aria-hidden="true"></i>
                <span class="white-text">Internamento</span>
            </a>
            <br>
            <a href="{{URL}}/triagem/paciente/{{id_paciente}}" class="row offset-m1 col s12 m5 btn-large blue">
                <i class="fa-solid fa-flask-vial fa-5x white-text" aria-hidden="true"></i>
                <span class="white-text">Agendar Exame</span>
            </a>
        </div>

        <div class="offset-m9 col s12 m2 row">
            <a class="btn teal darken-5  white-text" href="{{URL}}/paciente" style="text-transform: capitalize;">
                Cancelar
            </a>
        </div>
    </div>
</div>


<!--- Modal Responsavel para apresentar o modal deletar paciente -->
<div id="modalpaciente{{id_paciente}}" class="modal modalApagarTriagem ">
    <div class="modal-content">
        <form action="{{URL}}/pacient/apaga/{{id_paciente}}" method="post" class="row center white push-m2">
            <div class="col s12 m12">
                <h5 class=" " style="text-transform: capitalize;">
                    <i class="material-icons left red-text medium"
                        style="position: relative; top: -12px;">error_outline</i>
                    <strong style="font-weight: bold;">Confirmar a exclusão do paciente?</strong>
                </h5>
            </div>

            <div class="col s12 m2">
                <img src="{{URL}}/Files/Imagem/paciente/{{imagem}}" style="position: relative; top: 43px;"
                    class="materialboxed" width="80" height="95">
            </div>

            <div class="col s12 m9">
                <p style="text-transform: lowercase;">
                    Apagar a conta de <strong style="font-weight: bold;">{{nome}}</strong> permanentemente e
                    todos os dados vinculados a esta conta serão excluídos
                    permanentemente. Você não poderá recuperá-los no futuro.</p>
                <p>
            </div>

            <div class="offset-m2 col s12 m9">
                <p> <strong style="text-transform: lowercase;">Tem certeza? esta ação não poderá ser revertida</strong>
                </p>
            </div>

            <div class="offset-m2 col s12 m8">
                <label>
                    <input name="confirmo" type="checkbox" />
                    <span> <strong style="font-weight: bold; color: black; text-transform: lowercase;">
                            Sim, confirmo que excluí a conta</strong>
                    </span>
                </label>
            </div>

            <div class=" col s12 " style="display: none;">
                <input type="submit" id="submitess{{id_paciente}}" name="Salvar">
            </div>
        </form>

        <div class="row offset-m8 col s12 m4">
            <button class=" btn modal-close waves-effect blue darken-2 font-normal" name="cancelar" value="cancelar">
                Cancelar
            </button>

            <button type="submit" class="btn red font-normal" required>
                <label class="white-text col m12" for="submitess{{id_paciente}}">Apagar</label>
            </button>
        </div>
    </div>
</div>