<tr>

    <td>{{id_paciente}}</td>
    <td><img class="materialboxed" src="Files/imagem/paciente/{{imagem}}" width="60" height="45"></td>
    <td>{{nome}}</td>
    <td>{{genero}}</td>
    <td>{{telefone}}</td>
    <td class="">{{nascimento}}</td>
    <td class="center">{{estados}}</td>

    <td class="center">
        <!---
        <a href="{{URL}}/vendedor/{{id}}">
            <button type="button" class="waves-effect waves-light grey accent-1 btn">
                <i class="material-icons left">person</i>Perfil
            </button>
        </a>
        -->
        <a class="modal-trigger tooltip-container " href="#modalOpcao{{id_paciente}}">
            <button type="button" class="font-normal green accent-4 btn">
                <i class="material-icons center">add</i>
            </button>
            <div class="custom-tooltip">Consulta & Triagem</div>
        </a>
        <a class="tooltip-container " href="{{URL}}/paciente/editar/{{id_paciente}}">
            <button type="button " class="font-normal  btn blue darken-2 tooltip-btn">
                <i class="material-icons center">edit</i>
            </button>
            <div class="custom-tooltip">Editar Conta</div>
        </a>

        <a class="tooltip-container {{REGISTROS_DELETE}} " href="{{URL}}/paciente-apagar/{{id_paciente}}">
            <button type="button " class=" font-normal  btn red  darken-2 {{enable_btn}}  tooltip-btn">
                <i class="material-icons center">delete</i>
            </button>
            <div class="custom-tooltip">Apagar conta</div>
        </a>

        <a class="tooltip-container " href="{{URL}}/paciente/{{id_paciente}}">
            <button type="button" class="font-normal waves-light teal accent-4 btn tooltip-btn">
                <i class="material-icons center">visibility</i>
            </button>
            <div class="custom-tooltip">Visualizar Conta</div>
        </a>

    </td>
</tr>

<a class="tooltip-container " href="{{URL}}/triagem/editar/{{id_triagem}}"></a>

<!-- MODAL PARA opçao de escolha   -->
<div id="modalOpcao{{id_paciente}}" class="modal  modalImprimirTriagem">
    <div class="modal-content ">
        <label class="closeModal modal-close">&times;</label>

        <h5 class=" offset-m1 col s12 m10" style="text-transform: capitalize;">
            <i class="material-icons left teal-text medium" style="position: relative; top: -12px;">view_module</i>
            <strong style="font-weight: bold;">Seleciona tipo de serviços</strong>
        </h5>

        <div class="row col m12">

            <a href="{{URL}}/triagem/paciente/{{id_paciente}}" class="row offset-m1 col s12 m5 btn-large pink">
                <i class="fa fa-user-md fa-5x white-text" aria-hidden="true"> </i>
                <span class="white-text">Marcar consulta</span>
            </a>
            <a href="{{URL}}/triagem/paciente/{{id_paciente}}" class="row offset-m1 col s12 m5 btn-large purple">
                <i class="fa fa-stethoscope fa-5x white-text" aria-hidden="true"> </i>
                <span class="white-text">Triagem</span>
            </a>
            <br>

            <a href="{{URL}}/triagem/paciente/{{id_paciente}}" class="row offset-m1 col s12 m5 btn-large  red">
                <i class="fa-solid fa-bed-pulse fa-5x white-text" aria-hidden="true"></i>
                <span class="white-text">Internamento</span>
            </a>
            <br>
            <a href="{{URL}}/triagem/paciente/{{id_paciente}}" class="row offset-m1 col s12 m5 btn-large blue">
                <i class="fa-solid fa-flask-vial fa-5x white-text" aria-hidden="true"></i>
                <span class="white-text">Agendar Exame</span>
            </a>
        </div>

        <div class="offset-m9 col s12 m2 row">
            <a class="btn teal darken-5  white-text" href="{{URL}}/paciente" style="text-transform: capitalize;">
                Cancelar
            </a>
        </div>
    </div>
</div>