<section class="row section-field card">
  <nav class="row col m12  blue-grey darken-1 ">
    <div class="col m4 nav-wrapper ">
      <a href="{{URL}}/paciente" class="brand-logo white-text capitalize"
        style="font-size: 18px; font-weight: bold; vertical-align: -6px;">
        <h5 class="minuscula">Painel Paciente</h5>
      </a>
    </div>

    <div class="col m4 nav-wrapper">
      <form>
        <div class="input-field custom-search">
          <input id="search" placeholder="Pesquisar por nome" type="search" name="pesquisar"  required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons center">close</i>
        </div>
      </form>
    </div>

    <div class="col m4 nav-wrapper  ">
      <ul class="right hide-on-med-and-down row" style="height: 50px;">
        <li class="white-text " style="text-transform: capitalize;">
          <a href="{{URL}}/paciente/cadastrar" class="white-text">
            <i class=" material-icons left white-text ">add</i> Cadastrar Novo Paciente
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <br>
  <br>
  <section class="{{msgs}} col s12 m12 l12 ">{{msg}}</section>

  <section class=" row white col m12">
    <table id="table">
      <thead class="thead white">
        <tr class="centered">
          <th><i class="material-icons black-white" style="vertical-align: -6px;">format_list_numbered</i> Nº</th>
          <th><i class="material-icons black-white" style="vertical-align: -6px;">image</i>Imagem</th>
          <th class="center"><i class="material-icons black-white " style="vertical-align: -6px;">person</i>Nome
            Completo</th>
          <th><i class="material-icons black-white " style="vertical-align: -6px;">streetview</i>Género</th>
          <th><i class="material-icons black-white " style="vertical-align: -6px;">phone</i>Telefone</th>
          <th><i class="material-icons black-white " style="vertical-align: -6px;">date_range</i> Idade</th>
          <th><i class="material-icons black-white " style="vertical-align: -6px;">date_range</i> Estado</th>
          <th class="center"> <i class="material-icons black-white " style="vertical-align: -6px;">settings</i>Opção
          </th>
        </tr>
      </thead>

      <tbody class="tbody">
        {{item}}
      </tbody>
    </table>
  </section>

  <section class=" row white col m12">
    {{paginacao}}
  </section>

</section>