<!--fim-->
</main>

<!-- Footer fixo e fino 
  <footer class="page-footer grey lighten-3">
    <div class="footer-buttons">
      <a class="btn-flat waves-effect teal-text " ><i class="material-icons">home</i></a>
      <a class="btn-flat waves-effect teal-text" ><i class="material-icons">auto_awesome</i></a>
      <a class="btn-flat waves-effect teal-text" ><i class="material-icons">chat</i></a>
      <a class="btn-flat waves-effect teal-text" href="{{URL}}/logout" ><i class="material-icons">logout</i></a>
    </div>
  </footer>
-->

<footer class="grey lighten-1" style="display: flex; justify-content: center; gap: 30px; padding: 10px 0;">
  <a href="{{URL}}/" data-tooltip="Pagina inical">
    <i class="material-icons">home</i>
  </a>

  <a href="{{URL}}/contactos" data-tooltip="Suporte técnico">
    <i class="material-icons">support_agent</i>
  </a>

  <a href="#modalOpcaoChat" class="modal-trigger" data-tooltip="Assistente IA">
    <i class="material-icons">chat</i>
  </a>
</footer>

<!-- Modal Structure  bottom-sheet -->
<div id="modalOpcaoChat" class="modal modalChat modal-fixed-left ">
  <div class="modal-content ia-container">
    <h5 class="ia-title font-normal">Olá, {{nome}}</h5>
    <div class="ia-box z-depth-1">
      <input type="text" placeholder="Como posso ajudar você hoje..." class="ia-input">

      <div class="ia-tools">
        <div class="ia-left">
          <i class="material-icons">add</i>
          <span>Ferramentas</span>
        </div>

        <div class="ia-right">
          <span>2.5 Flash</span>
          <i class="material-icons">arrow_drop_down</i>
          <i class="material-icons">mic</i>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>


<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.tooltipped');
    M.Tooltip.init(elems);
  });
</script>













<!--
<footer class="page-footer teal lighten-2">
  
  <div class="container">
    <div class="row">

      <div class="col offset-m1 s12 m3">
        <br>
        <a href="{{URL}}/admin" class="brand-logo logotipo  " style="text-align: center;">
          <img class="" src="{{URL}}/Assets/img/logo01.png" width="200">
        </a>
      </div>

      <div class="col s12 m3">
        <h5 class="capitalize white-text">Sobre</h5>
        <ul>
          <li>
            <a class="black-text text-lighten-3 capitalize " href="{{URL}}/MariaProjecto/site"> Página Principal </a>
          </li>
          <li><a class="black-text text-lighten-3 capitalize" href="#!">Noticiás</a></li>
        </ul>
      </div>

      <div class="col s12 m3">
        <h5 class="capitalize white-text">Contactos</h5>
        <ul>
          <li><a class="black-text  capitalize" href="#!">E-mail</a></li>
          <li><a class="black-text text-lighten-3 capitalize" href="#!">Facebook</a></li>
          <li><a class="black-text text-lighten-3 capitalize" href="{{URL}}/contactos" target="_blank">Contactos</a>
          </li>
        </ul>
      </div>

      <div class="col s12 m2">
        <h5 class="capitalize white-text">Link importantes</h5>
        <ul>
          <li><a class="black-text text-lighten-3  capitalize" href="#!"> Tutotial </a></li>
          <li><a class="black-text text-lighten-3  capitalize" href="{{URL}}/MariaProjecto/site" target="_blank">Blog</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer-copyright  teal darken-3">
    <div class="container center capitalize white-text">
      © 2025 Copyright Text
      <a class=" blue-text darken-4 capitalize" href="#!">Mais links</a>
    </div>
  </div>
</footer>
-->
<!--Import jQuery before materialize.js
        <script type="text/javascript" src="App/View/assets/js/jquery.js"></script>
        <script type="text/javascript" src="App/View/assets/js/scripts.js"></script>
      -->