<!--fim-->
</main>


<footer class="grey lighten-1" style="display: flex; justify-content: center; gap: 30px; padding: 10px 0;">
  <a href="{{URL}}/" data-tooltip="Pagina inical">
    <i class="material-icons">home</i>
  </a>

  <a href="{{URL}}/contactos" data-tooltip="Suporte técnico">
    <i class="material-icons">support_agent</i>
  </a>

  <a href="#modalOpcaoChat" class="modal-trigger" data-tooltip="Assistente IA">
    <i class="material-icons">chat</i>
  </a>
</footer>

<!-- Modal Structure  bottom-sheet -->
<div id="modalOpcaoChat" class="modal modalChat modal-fixed-left ">
  <div class="modal-content ia-container">
    <h5 class="ia-title font-normal">Olá, {{nome}}</h5>
    <div class="ia-box z-depth-1">
      <input type="text" placeholder="Como posso ajudar você hoje..." class="ia-input">

      <div class="ia-tools">
        <div class="ia-left">
          <i class="material-icons">add</i>
          <span>Ferramentas</span>
        </div>

        <div class="ia-right">
          <span>2.5 Flash</span>
          <i class="material-icons">arrow_drop_down</i>
          <i class="material-icons">mic</i>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>



<!-- Scripts -->
<script src="{{URL}}/Assets/js/materialize.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.tooltipped');
    M.Tooltip.init(elems);
  });
</script>


<!--Import script js principal do app -->
<script src="{{URL}}/Assets/js/jquery-3.6.0.min.js"></script>

<!-- Inicialização dos componentes -->
<script>
  // Inicializar o sidenav quando o DOM estiver carregado
  document.addEventListener('DOMContentLoaded', function () {
    // Inicializar o sidenav
    var sidenavElems = document.querySelectorAll('.sidenav');
    var sidenavInstances = M.Sidenav.init(sidenavElems, {
      edge: 'left', // Abre da esquerda
      draggable: true // Permite fechar arrastando
    });

  });

</script>