<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Import Google Icon Font-->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link href="{{URL}}/Assets/css/material-icons.css" rel="stylesheet">

    <!-- fontawesome-->
    <link rel="stylesheet" href="{{URL}}/Assets/icon/fontawesome-free-6.7.2-web/css/all.css">

    <!--Import css-->
    <link type="text/css" rel="stylesheet" href="{{URL}}/Assets/css/materialize.css" />
    <link type="text/css" rel="stylesheet" href="{{URL}}/Assets/css/app.css" />

    <title>{{title}}</title>

    <style>
        #dropdownNotifica>div>a {
            width: 600px !important;
        }

        .minusculo {
            text-transform: lowercase !important;
        }

        .maisculo {
            text-transform: uppercase !important;
        }

        .capitalize {
            text-transform: capitalize !important;
        }

        .negrito {
            font-weight: bold !important;
        }
    </style>
</head>

<body class="grey lighten-4">

    {{header}}

    {{content}}

    {{footer}}

    <!--Import script js principal do app -->
    <script src="{{URL}}/Assets/js/app.js"></script>

    <!--Import script js materialize do app -->
    <script src="{{URL}}/Assets/js/materialize.js"></script>

</body>

</html>