<section class="section-field row ">

    <h5 class="" style="margin-left: 60px;"> Contabilidade do Sistema</h5>
    <hr>

    <section class="offset-m1 col s12 m3 white card-menu ">
        <ul class="collection with-header ">
            <a href="{{URL}}/relatorio" class="collection-item font-normal {{active}}">Relatório</a>
            <a href="{{URL}}/utilizadores" class="collection-item font-normal disabled-link">Lançamento e Registros</a>
            <a href="{{URL}}/configuracao-pacientes" class="collection-item font-normal disabled-link">Exercício Contabábeis</a>
            <a href="{{URL}}/configuracao-pacientes" class="collection-item font-normal disabled-link">Importação de Conta</a>
        </ul>
    </section>

    <section class="offset-m1 col s12 m8 white ">
        <section class="row col m12">

            <div class="col m12 pull-m1 center">
                <h6 class="negrito"> Relatório</h6>
                <br>
            </div>

            <section>
            <section class="row col m12 white">
                <div class="col s12 m3 ">
                    <br>
                    <div class=" ">
                        <div class="card-content red-text center">
                            <a href="{{URL}}/relatorio" class="btn-floating  btn-large   waves-light teal">
                                <i class="material-icons large">insert_chart</i>
                            </a>
                            <p class="teal-text">Apuramento de dados</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m3 ">
                    <br>
                    <div class=" ">
                        <div class="card-content red-text center">
                            <a class="btn-floating btn-large waves-effect waves-light teal">
                                <i class="material-icons large">bar_chart</i>
                            </a>
                            <p class="teal-text"> Balacente</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3 ">
                    <br>
                    <div class=" ">
                        <div class="card-content red-text center">
                            <a class="btn-floating btn-large waves-effect waves-light teal">
                                <i class="material-icons large">summarize</i>
                            </a>
                            <p class="teal-text"> Fluxo da caixa</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m3 ">
                    <br>
                    <div class=" ">
                        <div class="card-content red-text center">
                            <a class="btn-floating btn-large waves-effect waves-light teal">
                                <i class="material-icons large">assessment</i>
                            </a>
                            <p class="teal-text"> Demostração de resultado</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m3 ">
                    <br>
                    <div class=" ">
                        <div class="card-content red-text center">
                            <a class="btn-floating btn-large waves-effect waves-light teal">
                                <i class="material-icons large">toc</i>
                            </a>
                            <p class="teal-text">Balanço</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3 ">
                    <br>
                    <div class=" ">
                        <div class="card-content red-text center">
                            <a class="btn-floating btn-large waves-effect waves-light teal">
                                <i class="material-icons large">list</i>
                            </a>
                            <p class="teal-text">Estrato</p>
                        </div>
                    </div>
                </div>
            </section>
            </section>
        </section>
    </section>
</section>