        <br>
        <!-- Item de pesquisa de vendedor na pagina do home-->
                    <div class="col s12 m5 white ">
                            <div class="font-normal">
                                <p class="font-normal">Pesquisaste por: <strong>{{pesquisa}}</strong></p>
                                <p class="font-normal"><strong>{{numResultado}}</strong> resultados encontrado</p>
                            </div>
                            <div class="card-resulado">
                                {{resultados}}
                            </div>
                        </div>