<!-- start item resultado da pesquisa {{id}} -->
<div class="div-resultado white">
  <a href="{{URL}}/vendedor/{{id}}" class="font-normal row black-text ">
    <img src="{{URL}}/Files/Imagem/vendedor/{{imagem}}" width="33" height="47" class="col m3">
    {{id}} - {{nome}} - genero-{{genero}}
  </a>
  <br>
  <a href="{{URL}}/pagamento/{{id}}" class="font-normal row black-text ">
    <button type="button " class="waves-effect waves-light btn teal darken-3">
      <i class="material-icons left">attach_money</i>Fazer Pagamento
    </button>
  </a>
</div>
<br>
<!-- end item resultado da pesquisa {{id}} -->
<!-- end item resultado da pesquisa {{id}} -->