            <table>
                <caption>
                    <h6>Informação do Usuario</h6>
                </caption>

                <tr>
                    <p></p>
                    <th>Nome Completo</th>
                    <td>{{nome}}</td>
                </tr>

                <tr>
                    <th>Genero</th>
                    <td>{{genero}}</td>
                </tr>

                <tr>
                    <th>Data de Nascimento</th> 
                    <td>{{nascimento}}</td>
                </tr>

                <tr>
                    <th>Numero de Bilhete</th>
                    <td>{{bilhete}}</td>
                </tr>

                <tr>
                    <th>E-mail</th>
                    <td>{{email}}</td>
                </tr>

                <tr>
                    <th>Contactos</th>
                    <td>{{telefone}}</td>
                </tr>

                <tr>
                    <th>Nivel De Acesso</th>
                    <td>{{nivel}}</td>
                </tr>

                <tr>
                    <th>Data de Cadastramento</th>
                    <td>{{registro}}</td>
                </tr>
            </table>