            <div class="item-conta-img center ">
                <img class="img-conta modal-trigger openModal tooltippedFoto" src="{{URL}}/Files/Imagem/user/{{imagem}}" width="200"
                    height="200" data-position="buttonn" data-tooltip="Trocar a foto">

                <h5>{{nome}}</h5>
                <hr>
            </div>

            <div class="card-lista">

                <div class="">
                    <div><a href="{{URL}}/conta/alterarsenha" class="thin">Alterar Senha</a></div>
                </div>
                <div class="">
                    <div><a href="{{URL}}/conta/alterarsenha" class="thin">Alterar Email</a></div>
                </div>

                <div>
                    <div><a class="thin">Notificações</a></div>
                </div>

                <div class="collection-item">
                    <div><a href="{{URL}}/conta/editar"  class="thin">Registros</a></div>
                </div>

                <div class="collection-item ">
                    <div><a class="thin" href="{{URL}}/logout">Terminar Sessão</a> </div>
                </div>

            </div>