<section class="row section-field ">

    <section class="row  painel-card ">

        <div class="col s12 m3">
            <h5>Painel Relatório</h5>
        </div>

        <div class="baixo col s12 m5 offset-m4">
            <a href="{{URL}}/relatorio/dados">
                <button class="btn waves-effect">
                    <i class="material-icons white-text "> arrow_back </i>Relatório Dados
                </button>
            </a>
 
            <a href="{{URL}}/relatorio/finaceiro">
                <button class="btn waves-effect">
                    <i class="material-icons white-text "> arrow_back </i>Relatório Finaceiro
                </button>
            </a>
        </div>

    </section>

    <section id="card-relatorio-dados" class="row col m12 white">
        <h6 class="col m12 ">Atalho de Impressao de relatorio</h6>

        <div class="card-relatorio col s12 m4 ">
            <div class="row">
                <div class="col m7">
                    <h4 class="white-text font-large">{{totalUsuario}}</h4>
                    <p class="white-text font-normal">Usuario cadastrados</p>
                </div>
                <div class="col m4">
                    <i class="material-icons large orange-text text-darken-4">person</i>
                </div>
                <div class="center col m12 button-print modal-trigger" data-target="modaluser">
                    <a class=" col m12 white-text darken-1 font-normal " href="#">Imprimir Lista</a>
                </div>
            </div>
        </div>

        <div class="card-relatorio col s12 m4 ">
            <div class="row">
                <div class="col m8">
                    <h4 class="white-text font-large">{{totalVendedor}}</h4>
                    <p class="white-text font-normal">Vendedor cadastrados</p>
                </div>
                <div class="col m4">
                    <i class="material-icons large orange-text text-darken-4">people</i>
                </div>
                <div class="center col m12 button-print modal-trigger" data-target="modalvendedor">
                    <a class=" white-text darken-1 font-normal">Imprimir Lista</a>
                </div>
            </div>
        </div>

        <!--card zona-->
        <div class="card-relatorio col s12 m4 ">
            <div class="row">
                <div class="col m8">
                    <h4 class="white-text font-large">{{totalzona}}</h4>
                    <p class="white-text font-normal">Zonas cadastrados</p>
                </div>
                <div class="col m4">
                    <i class="material-icons large orange-text text-darken-4">place</i>
                </div>
                <div class="center col m12 button-print modal-trigger" data-target="modalzona">
                    <a class=" white-text darken-1 font-normal">Imprimir Lista</a>
                </div>
            </div>
        </div>

        <!--card  saldo total-->
        <div class="card-relatorio col s12 m4 indigo darken-1 ">
            <div class="row">
                <div class="col m8">
                    <h4 class="white-text font-large">23.123</h4>
                    <p class="white-text font-normal">Saldo Total</p>
                </div>
                <div class="col m4">
                    <i class="material-icons large orange-text">place</i>
                </div>
                <div class="center col m12 button-print ">
                    <a class=" white-text darken-1 font-normal" href="#moda-pr">Imprimir Lista</a>
                </div>
            </div>
        </div>

        <div class="card-relatorio col s12 m4 indigo darken-1 ">
            <div class="row">
                <div class="col m8">
                    <h4 class="white-text font-large">3.123</h4>
                    <p class="white-text font-normal">Saldo Mensal</p>
                </div>
                <div class="col m4">
                    <i class="material-icons large orange-text">place</i>
                </div>
                <div class="center col m12 button-print ">
                    <a class=" white-text darken-1 font-normal" href="#moda-pri">Imprimir Lista</a>
                </div>
            </div>
        </div>

        <div class="card-relatorio col s12 m4 indigo darken-1 ">
            <div class="row">
                <div class="col m8">
                    <h4 class="white-text font-large">1.123</h4>
                    <p class="white-text font-normal">Saldo Diario</p>
                </div>
                <div class="col m4">
                    <i class="material-icons large orange-text">place</i>
                </div>
                <div class="center col m12 button-print ">
                    <a class=" white-text darken-1 font-normal" href="#moda">Imprimir Lista</a>
                </div>
            </div>
        </div>

    </section>

    <script src="{{URL}}/Assets/js/charts/chart.js"></script>

    <!-- graficos de dados -->
    <section class="col-start col m6 white">
        <br>
        <h6>Apresentação Geral de Dados</h6>
        <canvas id="myChart1" width="400" height="120"></canvas>
        <br>
        <script>

            const ctx1 = document.getElementById('myChart1').getContext('2d');
            const myChart1 = new Chart(ctx1, {
                type: 'bar',
                data: {
                    labels: ['usuario', 'Vendedor', 'zona', 'negocio', 'fornecedor'],
                    datasets: [{
                        label: '# grafico de vendedor',
                        data: [51, 19, 33, 15, 12],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(0, 0, 222, 0.2)',
                            'rgba(255, 166, 1,0.1)'

                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(253, 166, 1, 1)'

                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },

                    layout: {
                        padding: 0
                    }

                }
            });
        </script>
    </section>

</section>

<!-- MODAL PARA LISTA USARIO-->
<div id="modaluser" class="modal modaluser">
    <div class="modal-content">
        <label class="closeModal modal-close">&times;</label>

        <h5>Lista de Usuario</h5>
        <p class="font-normal">
            Obtem o relatorio geral de todos os usuario cadastrado no sistema
        </p>
        <hr>

        <div class="modal-fixed-footer">
            <a class="btn white-text" href="{{URL}}/relatorio/listaUser" target="_blank">
                <i class="material-icons left white-text">print</i>Imprimir Lista
            </a>

            <a class="btn green accent-4 white-text" href="{{URL}}/relatorio/imprimirLista">
                <i class="material-icons left white-text">arrow_downward
                </i>Salvar em PDF
            </a>
        </div>
    </div>
</div>

<!-- MODAL PARA LISTA VENDEDOR-->
<div id="modalvendedor" class="modal modalvende">
    <div class="modal-content">
        <label class="closeModal modal-close">&times;</label>

        <h5>Lista de Vendedor</h5>
        <p class="font-normal">
            Obtem o relatorio geral de todos os Vendedores Ambulantes cadastrado no sistema
        </p>
        <hr>

        <div class="modal-fixed-footer">

            <a class="btn waves-effect white-text" href="{{URL}}/relatorio/listaVendedor" target="_blank">
                <i class="material-icons left white-text">print</i>Imprimir Lista
            </a>

            <a class="btn waves-effect waves-green green accent-4 white-text" href="{{URL}}/relatorio/imprimilistaVendedor">
                <i class="material-icons left white-text">arrow_downward</i>Salvar em PDF
            </a>
        </div>
    </div>
</div>

<!-- MODAL PARA  ZONA-->
<div id="modalConsultas" class="modal modalConsultas">
    <div class="modal-content">
        <label class="closeModal modal-close">&times;</label>
        <h5>Lista da Zona</h5>
        <p class="font-normal">
            Obtem o relatorio geral de todos os Vendedores Ambulantes cadastrado no sistema
        </p>

        <hr>

        <div class="modal-fixed-footer mmo">

            <a class="btn waves-effect white-text" href="{{URL}}/relatorio/listaVendedor" target="_blank">
                <i class="material-icons left white-text">print</i>Imprimir Lista
            </a>

            <a class="btn waves-effect waves-green green accent-4 white-text" href="{{URL}}/relatorio/imprimilistaVendedor">
                <i class="material-icons left white-text">arrow_downward</i>Salvar em PDF
            </a>
        </div>
    </div>
</div>