<section class="row section-field">

    <h4>Apagar Usuario</h5>

    <div>

        <form method="post" class="row col s12 m10 push-m1 white card">
            <div class="col s12 m12">
                <h3 class="font-normal">Tem a certeza que deseja apagar este usuario?</h3>
            </div>
            <br>

            <div class="col l10 push-l2">
                <div class="col s12 m2">
                    <img src="{{URL}}/Files/Imagem/user/{{imagem}}" class="materialboxed" width="100" height="125">
                </div>

                <div class="col s12 m6 push-l1">
                    <p>Numero: <strong>{{id}}</strong></p>
                    <p>Nome: <strong>{{nome}}</strong></p>
                    <p>Criado em: <strong>{{Criado}}</strong></p>
                </div>


                <div class="col s12 m9">
                    <button type="submit" class="button" name="excluir" required>Confirmar</button>
                </div>

                <div class="col s12 m9">
                    <a href="{{URL}}/usuario">
                        <button type="button" class="button ">Cancelar</button>
                    </a>
                </div>

            </div>

        </form>

    </div>

</section>