<section class="row section-field">

    <section class="row  painel-card ">

        <div class="col s12 m4">
            <h5>Painel Funcionário</h5>
        </div>

    </section>

    <div class="col s12 m10 push-m1 white card">
        <h6> {{titulo}} </h6>

        <div class="div-form white col s12 m10 push-m1">

            <form class="row  form-area col s12 m9 push-m1" method="post" enctype="multipart/form-data">

                <div class="label-float col s12 m12 ">
                    <input type="text" placeholder=" " name="nome" value="{{nome_us}}" />
                    <label>Nome completo:</label>
                </div>

                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>

                <div class="col s12 m6">
                    <label>Genero:</label>
                    <div class="input-radio">
                        <label class="">
                            <input type="radio" value="Masculino" id="masc" name="genero" class="with-gap" checked>
                            <span for="masc">Masculino </span>
                        </label>

                        <label>
                            <input type="radio" value="Feminino" id="fem" name="genero" class="with-gap" {{genero}}>
                            <span for="fem">Feminino</span>
                        </label>
                    </div>
                </div>

                <div class="input-date col s12 m6 row">
                    <label for="">Data de nascimento:</label>
                    <input type="date" name="data" value="{{data}}">
                </div>

                <div class="label-float col s12 m12">
                    <input type="text" placeholder=" " name="bilhete" value="{{bilhete}}" />
                    <label>Numero bilhete:</label>
                </div>

                <div class="label-float div-input col s12 m12">
                    <input type="email" placeholder=" " name="email" value="{{email}}" />
                    <label>E-mail:</label>
                </div>

                <div class="label-float col-start1 col s12 m12">
                    <input type="text" placeholder=" " name="telefone" value="{{telefone}}" />
                    <label>Telefone:</label>
                </div>

                <div class="select-field col s12 m12">
                    <select name="acesso" id="academico">
                        <option class="black-text" value="">Nivel de acesso:</option>
                        <option value="Administrador" for="nivel" {{nivel-adim}}>Administrador </option>
                        <option value="Alto" for="nivel" {{nivel-normal}}>Alto</option>
                        <option value="Normal" for="nivel" {{nivel-normal}}>Normal</option>
                    </select>
                </div>
                <div class="select-field col s12 m12">
                    <select name="posto" id="nomeposto">
                        <option class="black-text" value="">Posto numero:</option>
                        {{itemPosto}}
                    </select>
                </div>

                <div class="row col s12 m12">
                    <div class="col m5">
                        <label id="image" class="img-label btn-large grey" for="img">Carregar imagem </label>
                        <input class="file-path validate" type="file" id="img" name="imagem">
                    </div>

                    <img class="foto col m2 push-m5" src="{{URL}}/Files/Imagem/user/{{imagem}}" width="40" height="55">
                </div>

                <div class="col s12 m12">
                    <button type="submit" class="button">{{button}}</button>
                </div>

            </form>
        </div>
    </div>
</section>

<script src="{{URL}}/Assets/js/main.js"></script>