<tr>
    <td>{{id}}</td>
    <td><img src="Files/Imagem/user/{{imagem}}" class="materialboxed" width="60" height="45"></td>
    <td>{{nome}}</td>
    <td>{{genero}}</td>
    <td>{{telefone}}</td>
    <td>{{cargo}}</td>

    <td>
        <a href="{{URL}}/usuario/editar/{{id_us}}">
            <button type="button " class="waves-effect waves-light btn blue lighten-1">
                <i class="material-icons left">edit</i>Editar
            </button>
        </a>

        <a href="{{URL}}/usuario/apagar/{{id_us}}">
        <button type="button" class="waves-effect waves-light red accent-1 btn">
            <i class="material-icons left">delete</i>Apagar
        </button>
    </a>
    </td>
</tr>