<tr>
    <td>{{id_funcionario}}</td>
    <td><img src="Files/Imagem/user/{{imagem}}" style="border: 1px solid #72717110; border-radius: 50%;"
            class="materialboxed circle " width="55" height="35"></td>
    <td>{{nome}}</td>
    <td>{{telefone}}</td>
    <td>{{email}}</td>
    <td>{{cargo}}</td>
    <td>{{dataRegistro}}</td>

    <td>

        <a class="tooltip-container " href="{{URL}}/utilizadores-perfil/{{id_funcionario}}">
            <button type="button " class="font-normal waves-effect btn green accent-4 tooltip-btn">
                <i class="material-icons center">person_edit</i>
            </button>
            <div class="custom-tooltip">Editar Perfil de Acesso</div>
        </a>

        <a class="tooltip-container " href="{{URL}}/funcionario/editar/{{id_funcionario}}">
            <button type="button " class="font-normal waves-effect btn blue darken-2 tooltip-btn">
                <i class="material-icons center">edit</i>
            </button>
            <div class="custom-tooltip">Editar Conta</div>
        </a>

        <a class="tooltip-container modal-trigger" href="#modal{{id_funcionario}}">
            <button type="button " class="font-normal waves-effect btn red darken-1 tooltip-btn">
                <i class="material-icons center">delete</i>
            </button>
            <div class="custom-tooltip">Apagar Conta</div>
        </a>

        <a class="tooltip-container " href="{{URL}}/utilizadores/{{id_funcionario}}">
            <button type="button" class="font-normal waves-light teal accent-4 btn tooltip-btn">
                <i class="material-icons center">visibility</i>
            </button>
            <div class="custom-tooltip">Visualizar Conta</div>
        </a>
    </td>
</tr>



<!--- Modal apagar funcionario -->
<div id="modal{{id_funcionario}}" class="modal apagarFuncionario ">
    <div class="modal-content">
        <form action="{{URL}}/apagar/{{id_funcionario}}" method="post" class="row center white push-m2">
            <div class="col s12 m12">
                <h5 class=" " style="text-transform: capitalize;">
                    <i class="material-icons left red-text medium"
                        style="position: relative; top: -12px;">error_outline</i>
                    <strong style="font-weight: bold;">Confirmar a exclusão da conta?</strong>
                </h5>
            </div>

            <div class="col s12 m2">
                <img src="{{URL}}/Files/Imagem/user/{{imagem}}" style="position: relative; top: -5px;"
                    class="materialboxed" width="80" height="95">
            </div>

            <div class="col s12 m8">
                <p style="text-transform: lowercase;">
                    Apagar a conta de <strong style="font-weight: bold;">{{nome}}</strong> permanentemente e
                    todos os dados vinculados a esta conta serão excluídos
                    permanentemente. Você não poderá recuperá-los no futuro.</p>
                <p>
            </div>

            <div class="offset-m2 col s12 m8">
                <label>
                    <input name="confirmo" type="checkbox" />
                    <span> <strong style="font-weight: bold; color: black; text-transform: lowercase;">
                            Sim, confirmo a exclusão da conta</strong>
                    </span>
                </label>
            </div>

            <div class=" col s12 " style="display: none;">
                <input type="submit" id="subemeter">
            </div>
        </form>

        <div class="row offset-m8 col s12 m4">
            <button class=" btn modal-close waves-effect blue darken-2 font-normal" name="cancelar" value="cancelar">
                Cancelar 
            </button>

            <button type="submit" class="btn red font-normal" name="apagar" required>
                <label class="white-text col m12" for="subemeter">Apagar</label>
            </button>
        </div>
    </div>
</div>