<section class="section-field row ">

    <h5 class="" style="margin-left: 60px;"> Configuração de Sistema</h5>
    <hr>

    <section class="offset-m1 col s12 m3 white card-menu ">
        <ul class="collection with-header ">

            <div class=" center">
                <img class="img-conta red-text" src="{{URL}}/Assets/img/logotipoSemFundo.png" width="100" height="100">
            </div>

            <li class="collection-header center ">
                <h6>PM-Prescrisão Médica IA </h6>
            </li>

            <a href="{{URL}}/configuracao" class="collection-item font-normal {{active}}">Informação geral</a>
            <a href="{{URL}}/utilizadores" class="collection-item font-normal disabled-link">Notificação e Mensagem</a>
            <a href="{{URL}}/utilizadores" class="collection-item font-normal ">Gerenciar Utilizadores</a>
            <a href="{{URL}}/configuracao-cadastros" class="collection-item font-normal ">Cadastramento Básicos</a>
            <a href="{{URL}}/admin/controle" class="collection-item font-normal disabled-link">Personalizar</a>
            <a href="{{URL}}/configuracao/seguranca" class="collection-item font-normal disabled-link">Segurança</a>

        </ul>
    </section>

    <section class="offset-m1 col s12 m8 white ">

        <section class="row col m12">

            <div class="col m12 pull-m1 center">
                <h6 class="negrito"> Informação geral</h6>
                <br>
            </div>

            <section>

            </section>

        </section>
    </section>

</section>

<!--Modal de alterar a foto-->
<div id="modal" class="modal {{blocks}}">
    <div class="modal-item modal-foto">
        <label id="closeModal" class="closeModal">&times;</label>
        <form method="post" enctype="multipart/form-data">
            <h6>Imagem de Perfil</h6>
            <p class="div-conta-inf">
                A tua imagem serve para ser facilmente indentificado, colocar uma foto tipo passe, pode remover a
                tua imagem do sistema e volta para a imagem padrão
            </p>
            <hr>
            {{msgVazio}}

            <div class="center">
                <label id="image" class="label-modal-img" for="img">
                    <img class="img-conta foto" src="{{URL}}/Files/Imagem/user/{{imagem}}" width="172" height="172">
                    <div>Carregar imagem</div>
                </label>
                <input type="file" id="img" name="imagem">
            </div>

            <div class="row flex">
                <button class="btn col m12 indigo" name="salvar" type="submit">
                    <i class="material-icons ">photo</i>Salvar
                </button>
            </div>

            <div class="row flex">
                <button class="btn red col m12" href="">
                    <i class="material-icons ">delete</i>Remover
                </button>
            </div>
        </form>
    </div>
</div>