<tr>
    <td>{{id_funcionario}}</td>
    <td><img src="Files/Imagem/user/{{imagem}}" style="border: 1px solid #72717110; border-radius: 50%;"
            class="materialboxed circle " width="55" height="35"></td>
    <td>{{nome}}</td>
    <td>{{cargo}}</td>
    <td>{{nivel}}</td>
    <td>

        <a class="modal-trigger tooltip-container " href="#modalOpcao{{id_paciente}}">
            <button type="button" class="font-normal waves-effect teal accent-4 btn">
                <i class="material-icons center">admin_panel_settings</i>
            </button>
            <div class="custom-tooltip">Editar Nivel de Acesso</div>
        </a>
    </td>
</tr>


<!-- MODAL PARA opçao de escolha   -->
<div id="modalOpcao{{id_paciente}}" class="modal white modalImprimirTriagem">
    <div class="modal-content white">
        <label class="closeModal modal-close">&times;</label>

        <h5 class=" offset-m1 col s12 m10" style="text-transform: capitalize;">
            <i class="material-icons left teal-text medium" style="position: relative; top: -12px;">event_note</i>
            <strong style="font-weight: bold;">Editar Permissões </strong>
        </h5>

        <form action="{{URL}}/permisao/edit/{{id_funcionario}}" method="post" class="row center  push-m3">

            <div class="col offset-m1 m5">
                <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>Administrador</span>
                </label>
            </div>

            <div class="col offset-m1 m5">
                <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>Administrador</span>
                </label>
            </div>

            <div class="col offset-m1 m5">
                <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>Recepção</span>
                </label>
            </div>

            <div class="col offset-m1 m5">
                <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>Médico</span>
                </label>
            </div>

            <div class="col offset-m1 m5">
                <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>Laboratório</span>
                </label>
            </div>

            <div class="col offset-m1 m5">
                <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>Farmácia</span>
                </label>
            </div>

            <div class="offset-m10 col s12 m2 row">
                <a class="btn teal darken-5  white-text" href="{{URL}}/paciente" style="text-transform: capitalize;">
                    Salvar
                </a>
            </div>
        </form>
    </div>
</div>