<section class="row section-field card">

  <nav class="row col m12  blue-grey darken-1 ">
    <div class="col m4 nav-wrapper ">
      <a href="{{URL}}/permissao" class="brand-logo white-text capitalize"
        style="font-size: 18px; font-weight: bold; vertical-align: -6px;">
        <h5 class="minuscula"> Gerenciar Acessos dos Funcionários</h5>
      </a>
    </div>

    <div class="col m4 nav-wrapper">
      <form>
        <div class="input-field custom-search">
          <input id="search" placeholder="Pesquisar por nome" type="search" name="pesquisar"  required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons center">close</i>
        </div>
      </form>
    </div>

    <div class="col m4 nav-wrapper  ">
      <ul class="right hide-on-med-and-down row" style="height: 50px;">
        <li class="white-text " style="text-transform: capitalize;">
          <a href="{{URL}}/funcionario/cadastrar" class="white-text">
            <i class=" material-icons left white-text ">add</i> Cadastrar Novo Funcionario
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
  </div>

  <div class="{{msgs}} col s12 m12">{{msg}}</div>

  <section class="  white col m12">

    <table class="row col m12 ">
      <thead class="">
        <tr class="center">
          <th><i class="material-icons black-white" style="vertical-align: -6px;">format_list_numbered</i> Nº</th>
          <th><i id="coluna" class="material-icons black-white" style="vertical-align: -6px;">image</i>Imagem</th>
          <th><i class="material-icons black-white" style="vertical-align: -6px;">person</i> Nome Completo</th>
          <th> <i class="material-icons black-white " style="vertical-align: -6px;">groups</i>Cargo</th>
          <th> <i class="material-icons black-white " style="vertical-align: -6px;">admin_panel_settings</i>Nivel de acesso</th>
          <th> <i class="material-icons black-white " style="vertical-align: -6px;">settings</i>Opção</th>

        </tr>
      </thead>

      <tbody tbody class="tbody">
        {{item}}
      </tbody>
    </table>

  </section>

  <section class="col m12 white">
    {{paginacao}}
  </section>

</section>

<!-- <button data-target="modalApagarUser" class="btn modal-trigger">Modal26</button> -->
