<section class="section-field white">
    <!-- start Item  da parte da pesquisaaa -->
    <div class="area-busca ">
        {{BuscaVendedor}}
    </div>
    <!-- end Item  da parte da pesquisa  mail notifications-->
    <br>

    <section  class="row col m12 white">

        <div class="col s12 m3 ">
            <div class="card teal darken-1">
                <div class="card-content red-text">
                    <span class="card-title white-text">Funcionários</span>
                    <span class="card-title ">300</span>
                    <p> I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m3 ">
            <div class="card teal darken-1">
                <div class="card-content red-text">
                    <span class="card-title white-text">Funcionários</span>
                    <span class="card-title ">300</span>
                    <p> I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m3 ">
            <div class="card teal darken-1">
                <div class="card-content red-text">
                    <span class="card-title white-text">Permissões de Acesso</span>
                    <i class="material-icons  teal-text text-darken-4">lock_clock</i>
                    <p class="white-text"> Gerencie quem pode visualizar ou editar cada parte do sistema. </p>
                </div>
            </div>
        </div>
        <div class="col s12 m3 ">
            <div class="card teal darken-1">
                <div class="card-content red-text">
                    <span class="card-title white-text">Funcionários</span>
                    <span class="card-title ">300</span>
                    <p> I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>

    </section>

</section>