<section class="section-field white">
    <!-- start Item  da parte da pesquisaaa -->
    <div class="area-busca ">
        {{BuscaVendedor}}
    </div>
    <!-- end Item  da parte da pesquisa  mail notifications-->
    <br>

    <section class="row col m12 white">
        <h4 class="teal-text">Minhas Ações </h4>
        <br>
        <div class="col s12 m3 ">
            <br>
            <div class=" ">
                <div class="card-content red-text center">
                    <a class="btn-floating btn-large waves-effect waves-light teal">
                        <i class="material-icons large">person_add</i>
                    </a>
                    <p class="teal-text">Cadastrar Funcionarios</p>
                </div>
            </div>
        </div>

        <div class="col s12 m3 ">
            <br>
            <div class=" ">
                <div class="card-content red-text center">
                    <a class="btn-floating btn-large waves-effect waves-light teal">
                        <i class="material-icons large">password</i>
                    </a>
                    <p class="teal-text">Atualizar Senha</p>
                </div>
            </div>
        </div>

        <div class="col s12 m3 ">
            <br>
            <div class=" ">
                <div class="card-content red-text center">
                    <a class="btn-floating btn-large waves-effect waves-light teal">
                        <i class="material-icons large">person_add</i>
                    </a>
                    <p class="teal-text">Editar conta</p>
                </div>
            </div>
        </div>

        <div class="col s12 m3 ">
            <br>
            <div class=" ">
                <div class="card-content red-text center">
                    <a class="btn-floating btn-large waves-effect waves-light teal">
                        <i class="material-icons large">settings</i>
                    </a>
                    <p class="teal-text">Configuração de sistemas</p>
                </div>
            </div>
        </div>

        <div class="col s12 m3 ">
            <br>
            <div class=" ">
                <div class="card-content red-text center">
                    <a class="btn-floating btn-large waves-effect waves-light teal">
                        <i class="material-icons large">add</i>
                    </a>
                    <p class="teal-text">Cadastrar Funcionarios</p>
                </div>
            </div>
        </div>

        <div class="col s12 m3 ">
            <br>
            <div class=" ">
                <div class="card-content red-text center">
                    <a href="{{URL}}/permissao" class="btn-floating btn-large waves-effect waves-light teal">
                        <i class="material-icons large">lock_clock</i>
                    </a>
                    <p class="teal-text">Definir Permissões</p>
                </div>
            </div>
        </div>

        <div class="col s12 m3 ">
            <br>
            <div class=" ">
                <div class="card-content red-text center">
                    <a class="btn-floating btn-large waves-effect waves-light teal">
                        <i class="material-icons large">person</i>
                    </a>
                    <p class="teal-text">Editar conta</p>
                </div>
            </div>
        </div>

        <div class="col s12 m3 ">
            <br>
            <div class=" ">
                <div class="card-content red-text center">
                    <a class="btn-floating btn-large waves-effect waves-light teal">
                        <i class="material-icons large">settings</i>
                    </a>
                    <p class="teal-text">Configuração de sistemas</p>
                </div>
            </div>
        </div>

    </section>

    <section class="row col m12 white">

        <h4 class="teal-text">Os meus processos</h4>
        <br>
        <div class="col s12 m12 teal row">
            <div class="col m10 white-text">
                <h5 class="white-text capitalize">Funcionarios Cadastrados</h5>
                <a class="waves-effect waves-light teal">
                    <i class="material-icons  center" style="font-size: 40px;">person_search</i>
                    <span style="font-size: 40px;" class="capitalize">23</span>
                </a>
            </div>
            <div class="col m2 ">
                <h5 class="center ">
                    <a class="" href="http://" style="text-transform: lowercase;">Ver mais</a>
                </h5>
            </div>
        </div>

        <div class="col s12 m12 teal row">
            <div class="col m10 white-text">
                <h5 class="white-text capitalize">Triagem Cadastrados</h5>
                <a class="waves-effect waves-light teal">
                    <i class="material-icons  center" style="font-size: 40px;">assignment_ind</i>
                    <span style="font-size: 40px;" class="capitalize">161</span>
                </a>
            </div>
            <div class="col m2 ">
                <h5 class="center ">
                    <a class="" href="http://" style="text-transform: lowercase;">Ver mais</a>
                </h5>
            </div>
        </div>

        <div class="col s12 m12 teal row">
            <div class="col m10 white-text">
                <h5 class="white-text capitalize">Consultas Cadastrados</h5>
                <a class="waves-effect waves-light teal">
                    <i class="material-icons  center" style="font-size: 40px;">medical_services</i>
                    <span style="font-size: 40px;" class="capitalize">92</span>
                </a>
            </div>
            <div class="col m2 ">
                <h5 class="center ">
                    <a class="" href="http://" style="text-transform: lowercase;">Ver mais</a>
                </h5>
            </div>
        </div>

        <h4 class="teal-text">Notificação e Avisos</h4>
        <br>
        <div class="col s12 m12 row">
            
            <div class="col m3 offset-m1 teal">
                <div class="col m10 white-text">
                    <h5 class="white-text capitalize">Configuração de sistemas</h5>
                    <a class="waves-effect waves-light teal">
                        <i class="material-icons  center" style="font-size: 40px;">settings</i>
                        <span style="font-size: 40px;" class="capitalize">23</span>
                    </a>
                                        <h5 class="center ">
                        <a class="" href="http://" style="text-transform: lowercase;">Ver mais</a>
                    </h5>
                </div>
            </div>

            <div class="col m3 offset-m1 teal">
                <div class="col m10 white-text">
                    <h5 class="white-text capitalize">Configuração de sistemas</h5>
                    <a class="waves-effect waves-light teal">
                        <i class="material-icons  center" style="font-size: 40px;">settings</i>
                        <span style="font-size: 40px;" class="capitalize">23</span>
                    </a>
                                        <h5 class="center ">
                        <a class="" href="http://" style="text-transform: lowercase;">Ver mais</a>
                    </h5>
                </div>
            </div>

            <div class="col m3 offset-m1 teal">
                <div class="col m10 white-text">
                    <h5 class="white-text capitalize">Configuração de sistemas</h5>
                    <a class="waves-effect waves-light teal">
                        <i class="material-icons  center" style="font-size: 40px;">settings</i>
                        <span style="font-size: 40px;" class="capitalize">23</span>
                    </a>
                                        <h5 class="center ">
                        <a class="" href="http://" style="text-transform: lowercase;">Ver mais</a>
                    </h5>
                </div>
            </div>

        </div>
    </section>

</section>