<section class="row section-field white">

  <section>
    <div class="row" style="text-align: center;">
      <h5 class="center" style="text-transform: capitalize; margin-left:30px;"> {{titulo}} </h5>
      <hr>
    </div>
    
    <div class="{{msgs}} col offset-m1 s12 m11">{{msg}}</div>

    <div class="row col offset-m1">
      <a class="btn font-normal " href="{{URL}}/triagem">
        <i class="material-icons prefix white-text " style="vertical-align: -6px;">arrow_back</i>
        Voltar
      </a>

      <a class="btn font-normal " href="{{URL}}/triagem/cadastrar">
        <i class="material-icons prefix white-text" style="vertical-align: -6px;">add</i>
        Nova triagem
      </a>
    </div>
  </section>

  <div class="col offset-m1 s12 m11 blue-grey darken-1 row">
    <!--header das abas-->
    <div class="blue-grey darken-1 white-text capitalize" style="height: 35px; display: flex; align-items: center;
     justify-self: center; background-color: #f5f5f5; box-shadow: none;">
      {{nome}}
    </div>
  </div>

  <section class="row col m8 offset-m2 ">

    <div class="row white" style="padding:0px 37px;">

      <h6 class="capitalize negrito teal-text">Dados pessoas</h6>
      <ul>
        <li class="right negrito font-normal">triagem Nº: {{id_triagem}}</li>
        <li class="negrito font-normal"> Nome Completo: <span>{{nome}}</span> </li>
        <li class="negrito font-normal"> Gênero: <span>{{genero}}</span></li>
        <li class="negrito font-normal"> Idade: <span>{{ano}} anos</span></li>
        <li class="negrito font-normal"> Documento/bilhete: <span>{{bilhete}}</span></li>
        <li class="negrito font-normal">Pioridade: <span>{{pioridade}}</span></li>
      </ul>

      <h6 class="capitalize negrito teal-text">Sinais Vitais</h6>
      <ul>
        <li class="negrito font-normal">Peso:<span> {{peso}} kg</span></li>
        <li class="negrito font-normal">Temperatura corporal:<span>{{temperatura}} °C</span> </li>
        <li class="negrito font-normal">Pressão arterial: <span>{{pressao}} mmHg</span></li>
        <li class="negrito font-normal">Frequência cardíaca:<span> {{frequencia_cardiaca}} bpm </span></li>
        <li class="negrito font-normal">Frequência respiratória: <span>{{frequencia_respiratorio}} Mrm</span></li>
        <li class="negrito font-normal">Saturação oxigênio:<span> {{saturacao}}%</span></li>

      </ul>

      <h6 class="capitalize negrito teal-text">Observação importante</h6>
      <ul>
        <li class="capitalize negrito font-normal">Avaliação Clínica rapida: <span>{{observação}}</span></li>
      </ul>

      <div class="white row">
        <hr>

        <p class="font-normal">Clica aqui para
          <a href="{{URL}}/triagem/gerar-ficha/{{id_triagem}}" class="capitalize blue-text darken-5"> 📄 baixar e enviar
          </a>
          a ficha de triagem em PDF
        </p>

        <p class="font-normal">
          Clica aqui para <a href="{{URL}}/triagem/imprimir-ficha/{{id_triagem}}" class="capitalize blue-text darken-5"
            target="_blank"> 🖨️ Imprimir</a>
          a ficha de triagem
        </p>

      </div>
      <br>

      <div>
        <form class="" method="post" enctype="multipart/form-data">
          <button type="submit" name="finaliza" class="col offset-m9 btn m3 white-text font-normal ">
            {{button1}}
          </button>
          <br>
        </form>

      </div>
      <div><br></div>
    </div>

  </section>
  
</section>

<script src="{{URL}}/Assets/js/main.js"></script>