<tr class="center">
    <td class="center">{{id_triagem}}</td>
    <td><img src="Files/Imagem/user/{{imagem}}" class="materialboxed " width="55" height="35">
    </td>
    <td class="">{{Nome}}</td>
    <td class="center">{{genero}}</td>
    <td class="center"> {{idade}}</td>
    <td class="center"> {{hora}}</td>
    <td class="center"> {{Atendimento}}</td>
    <td class="center">

        <a class="modal-trigger tooltippedListagem" href="{{id_triagem}}" data-target="modaluser" data-position="top"
            data-tooltip="Add nova Triagem">
            <button type="button" class="font-normal waves-effect waves-light green accent-4 btn">
                <i class="material-icons center">add</i>
            </button>
        </a>

        <a class="tooltippedListagem" href="{{URL}}/triagem/editar/{{id_triagem}}" data-position="top"
            data-tooltip="Editar Triagem">
            <button type="button " class="font-normal waves-effect waves-light btn blue darken-2">
                <i class="material-icons center">edit</i>
            </button>
        </a>

        <a class="modal-trigger tooltippedListagem" href="#modal{{id_triagem}}" data-position="top"
            data-tooltip="Apagar Trigaem">
            <button type="button" class="font-normal waves-light red lighten-1 btn">
                <i class="material-icons center">delete</i>
            </button>
        </a>

        <a class="modal-trigger tooltippedListagem" href="{{id_triagem}}" data-target="modaluser" data-position="top"
            data-tooltip="Imprimir Ficha">
            <button type="button" class="font-normal waves-effect waves-light teal accent-4 btn">
                <i class="material-icons center">print</i>
            </button>
        </a>

    </td>
</tr>

<!---
{URL}}/negocio/apagar/{{id_negocio}}

-->

<!-- MODAL PARA imprimir ficha triagem-->
<div id="modaluser" class="modal modaluser">
    <div class="modal-content">
        <label class="closeModal modal-close">&times;</label>

        <h5>Paciente: {{Nome}}</h5>

        <p class="font-normal">
            Confirmar a impressão da ficha de Triagem <strong>Nº {{id_negocio}}</strong></p>

        <hr>

        <div class="modal-fixed-footer ">
            <a class="btn white-text rigth blue" href="{{URL}}/triagem/apagar/{{id_negocio}}"
                style="text-transform: capitalize;">
                <i class="material-icons left white-text">print</i>Imprimir
            </a>

            <a class="btn grey accent-4 white-text" href="{{URL}}/relatorio/imprimirLista"
                style="text-transform: capitalize;">
                <i class="material-icons left white-text">highlight_off
                </i>Cancelar
            </a>
        </div>
    </div>
</div>

<!--- Modal Responsavel para apresentar o modal deletar triagem -->
<div id="modal{{id_triagem}}" class="modal modalApagarTriagem ">
    <div class="modal-content">
        <form action="{{URL}}/triagem/apagar/{{id_triagem}}" method="post" class="row center white push-m2">
            <div class="col s12 m12">
                <h5 class=" " style="text-transform: capitalize;">
                    <i class="material-icons left red-text medium"
                        style="position: relative; top: -12px;">error_outline</i>
                    <strong style="font-weight: bold;">Apagar Triagem Registrada</strong>
                </h5>
            </div>

            <div class="col s12 m2">
                <img src="{{URL}}/Files/Imagem/user/{{imagem}}" style="position: relative; top: 43px;"
                    class="materialboxed" width="80" height="95">
            </div>

            <div class="col s12 m8">
                <p>Apagar a conta de <strong style="font-weight: bold;">{{nome}}</strong> permanentemente.
                    Se tiver certeza disso e decidir prosseguir, todos os dados vinculados a esta conta serão excluídos
                    permanentemente. Você não poderá recuperá-los no futuro.</p>
                <p>
                <p> <strong>Tem certeza? Esta ação é permanente e não pode ser desfeita.</strong> </p>
            </div>

            <div class="offset-m2 col s12 m8">
                <label>
                    <input name="confirmo" type="checkbox" />
                    <span> <strong style="font-weight: bold; color: black;">
                            Sim, confirmo que excluí a conta</strong>
                    </span>
                </label>
            </div>

            <div class="row offset-m8 col s12 m4">
                <button class=" btn modal-close waves-effect blue darken-2 capitalize" name="cancelar" value="cancelar">
                    Cancelar </button>
                <button type="submit" class="btn red capitalize" name="apagar" required> Apagar</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.tooltipped{{id_triagem}}');
        var instances = M.Tooltip.init(elems, options);
    });
</script>