<section class="row section-field card">

  <nav class="col m12  blue-grey darken-1 ">
    <div class="nav-wrapper  ">
      <a href="{{URL}}/triagem" class="brand-logo white-text capitalize"
        style="font-size: 18px; font-weight: bold; vertical-align: -6px;">
        <h5 class="minuscula">Painel Triagem</h5>
      </a>
      <ul class="right hide-on-med-and-down row" style="height: 50px;">
        <li class="col pull-m6">
          <form class="form-area-search">
            <input class="input-search" type="search" name="pesquisar" placeholder=" Pesquisar por nome"
              value="{{pesquisar}}">
            <button class="button-search btn" type="submit">
              <i class="material-icons white-text iconPesquisar" >search</i>
            </button>

          </form>
        </li>
        <li class="white-text " style="text-transform: capitalize;">
          <a href="{{URL}}/triagem/cadastrar" class="white-text">
            <i class=" material-icons left white-text ">add</i> Nova Triagem
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row"></div>

  <div class="{{msgs}} col s12 m12">{{msg}}</div>

  <section class="white col m12">

    <table class="row col m12">
      <thead class="thead">
        <tr class="center" >
          <th><i class="material-icons black-white" style="vertical-align: -6px;">format_list_numbered</i> Nº</th>
          <th class="center"><i class="material-icons black-white " style="vertical-align: -6px;">person</i>Nome Completo</th>
          <th><i class="material-icons black-white " style="vertical-align: -6px;">streetview</i>Género</th>
          <th><i class="material-icons black-white " style="vertical-align: -6px;">timelapse</i>Idade</th>
          <th><i class="material-icons black-white " style="vertical-align: -6px;">av_timer</i>Hora da triagem</th>
          <th><i class="material-icons black-white " style="vertical-align: -6px;">directions_walk</i>Prioridade</th>
          <th class="center"> <i class="material-icons black-white " style="vertical-align: -6px;">settings</i>Opção</th>
        </tr>
      </thead>

      <tbody class="tbody">
        {{item}}
      </tbody>
    </table>
  </section>

  <section class="col m12 white">
    {{paginacao}}
  </section>

</section>