<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        h2{
            margin: 5px auto;
        }
        table{
            width: 100%;

            border-collapse: collapse;
        }
        th {
            background-color: rgb(184, 179, 179);
            border: 1px solid rgb(209, 209, 209);

        }
        td {
            border: 1px solid rgb(116, 107, 107);
        }

    </style>
</head>

<body>
    <h2>Lista dos Usuario</h2>

    <table>
        <thead>
            <tr>
                <th>Numero</th>
                <th>Nome Completo</th>
                <th>Genero</th>
                <th>Data de Nascimento</th>
                <th>Telefone</th>
                <th>Nivel</th>
            </tr>
        </thead>
        <tbody>
                {{resultado}}
        </tbody>
    </table>
</body>

</html>

